<div ng-controller="sys_param_modify_controller">
    <div>
        <toaster-container
                toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    </div>
    <div class="panel panel-default">
        <div class="row" style="margin: 0; padding: 15px; border: 1px solid #dddddd">
            <h4 class="m-n font-thin h4">{{frameTitle}}</h4>
        </div>
        <form name="form" class="form-validation" novalidate>
            <div class="panel-body wrapper-sm">


                <div class="form-group row">
                    <label class="col-sm-3 control-label text-right"><b class="form-text-black">参数主键</b><b
                            class="form-error">*</b>:</label>
                    <div class="col-sm-3">
                        <input type="text" name="paramKey" placeholder="请输入参数主键" class="form-control m-b-xs"
                               ng-model="sysParam.paramKey" required disabled>
                        <p>
                            <span class="form-info"
                                  ng-show=" (form.paramKey.$dirty && form.paramKey.$error.required) || (form.paramKey.$error.required && formValidate)">参数主键不能为空</span>
                        </p>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-3 control-label text-right"><b class="form-text-black">参数名称</b><b
                            class="form-error">*</b>:</label>
                    <div class="col-sm-3">
                        <input type="text" name="paramName" placeholder="请输入参数名称" class="form-control m-b-xs"
                               ng-model="sysParam.paramName" required>
                        <p>
                            <span class="form-info"
                                  ng-show=" (form.paramName.$dirty && form.paramName.$error.required) || (form.paramName.$error.required && formValidate)">参数名称不能为空</span>
                        </p>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-3 control-label text-right"><b class="form-text-black">参数值</b><b
                            class="form-error">*</b>:</label>
                    <div class="col-sm-3">
                        <input type="text" name="paramValue" placeholder="请输入参数值" class="form-control m-b-xs"
                               ng-model="sysParam.paramValue" required>
                        <p>
                            <span class="form-info"
                                  ng-show=" (form.paramValue.$dirty && form.paramValue.$error.required) || (form.paramValue.$error.required && formValidate)">参数值不能为空</span>
                        </p>
                    </div>

                </div>


                <div class="form-group row">
                    <label class="col-sm-3 control-label text-right"><b class="form-text-black">开始日期</b><b
                            class="form-error"> *</b>:</label>
                    <div class="col-sm-3">
                        <input id="validStartDate" type="text" name="validStartDate" placeholder="请输入开始日期"
                               class="form-control m-b-xs" ng-model="sysParam.validStartDate"
                               onfocus="WdatePicker({onpicked: function(){$(this).trigger('change')},dateFmt:'yyyy-MM-dd',skin:'twoer',maxDate:'#F{$dp.$D(\'validEndDate\')}'})"
                               required>
                        <p>
                            <span class="form-info"
                                  ng-show=" (form.validStartDate.$dirty && form.validStartDate.$error.required) || (form.validStartDate.$error.required && formValidate)">开始日期不能为空</span>
                        </p>
                    </div>

                </div>

                <div class="form-group row">
                    <label class="col-sm-3 control-label text-right"><b class="form-text-black">结束日期</b><b
                            class="form-error">*</b>:</label>
                    <div class="col-sm-3">
                        <input id="validEndDate" type="text" name="validEndDate" placeholder="请输入结束日期"
                               class="form-control m-b-xs"
                               ng-model="sysParam.validEndDate"
                               onfocus="WdatePicker({onpicked: function(){$(this).trigger('change')},dateFmt:'yyyy-MM-dd',skin:'twoer',minDate:'#F{$dp.$D(\'validStartDate\')}',validStartDate:'#F{$dp.$D(\'validStartDate\',{d:+1})}'})"
                               required>
                        <p>
                            <span class="form-info"
                                  ng-show=" (form.validEndDate.$dirty && form.validEndDate.$error.required) || (form.validEndDate.$error.required && formValidate)">结束日期不能为空</span>
                        </p>
                    </div>

                </div>


            </div>


            <div class="modal-footer ng-scope text-center">
                <button class="btn btn-default" ng-click="goback()">返回</button>
                <button type="submit" class="btn btn-success" ng-show="showSave" ng-disabled="submit"
                        ng-click="save()">新增
                </button>
                <button type="submit" class="btn btn-success" ng-show="showUpdate" ng-disabled="submit"
                        ng-click="modify()">保存
                </button>
            </div>
        </form>
    </div>
</div>