<div class="panel panel-default"  ng-controller="retrieve_cars_task_financial_controller">
    <div>
        <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    </div>
    <form name="form" class="form-validation" novalidate>

        <div class="row" style="margin: 0; padding: 15px; border: 1px solid #dddddd">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <h4 class="m-n font-thin h4">收车任务财务审核</h4>
                </div>
                <div class="form-group pull-right">
                    <button class="btn btn-success m-t-xs m-r-xs btn-sm fms-button-margin-top" ng-click="printPaymentOrder()"  ng-disabled="submit">打印付款单</button>
                    <button class="btn btn-success m-t-xs m-r-xs btn-sm fms-button-margin-top" ng-click="save()"  ng-disabled="submit">提交</button>
                    <button class="btn btn-success btn-sm fms-button-margin-top" ng-click="sendBack()"  ng-disabled="submit">退回</button>
                    <button class="btn btn-default btn-sm fms-button-margin-top" ng-click="goBack()"  ng-disabled="submit">返回</button>
                </div>
            </div>
        </div>


        <div class="panel-body">
            <div class="row line-lg" style="font-weight: bold;font-size: 14px;">申请信息</div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">合同编号</b>:</label>
                <div class="col-sm-2 text-left">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.contNo}}</b></label>
                </div>
                <div class="col-sm-7 text-left">
                    <button class="btn btn-success btn-sm fms-margin-bottom-2" ng-click="contractDetails()"  ng-disabled="submit">合同详情</button>
                    <button class="btn btn-success btn-sm fms-margin-bottom-2" ng-click="overdueDetail()"  ng-disabled="submit">逾期详情</button>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">承租人</b>:</label>
                <div class="col-sm-3">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.cstmName}}</b></label>
                </div>
                <label class="col-sm-1 control-label text-right"><b class="form-text-black">出租人</b>:</label>
                <div class="col-sm-3">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.lessor}}</b></label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">发动机号</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.engineNo}}</b></label>
                </div>
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">试算金额(元)</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.trialAmount}}</b></label>
                </div>
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">车牌号</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.vehicleLicenseNo}}</b></label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">车辆残值(元)</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.salvageValue}}</b></label>
                </div>
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">费用差额(元)</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.costDifference}}</b></label>
                </div>
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">车架号</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.overdueContVinNo}}</b></label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">收车原因</b>:</label>
                <div class="col-sm-8">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.retrieveReason}}</b></label>
                </div>
            </div>
        </div>

        <!--<div class="panel-body">-->
            <!--<div class="form-group row">-->
                <!--<label class="col-sm-2 control-label text-right"><b class="form-text-black">收车原因</b>:</label>-->
                <!--<div class="col-sm-8">-->
                    <!--<label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.retrieveReason}}</b></label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="panel-body">
            <div class="row line-lg" style="font-weight: bold;font-size: 14px;">派单信息</div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">预估收车费用(元)</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.forRetrAmount}}</b></label>
                </div>
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">派单类型</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.dispachType | getName:'dispatchType'}}</b></label>
                </div>
                <label ng-if="retrieveCarsTask.dispachType == 1" class="col-sm-2 control-label text-right"><b class="form-text-black">任务派单人</b>:</label>
                <div class="col-sm-2" ng-if="retrieveCarsTask.dispachType == 1">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.dispachPeopleName}}</b></label>
                </div>
                <label ng-if="retrieveCarsTask.dispachType == 2" class="col-sm-2 control-label text-right"><b class="form-text-black">任务登记人</b>:</label>
                <div class="col-sm-2" ng-if="retrieveCarsTask.dispachType == 2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.registerPeopleName}}</b></label>
                </div>
            </div>
            <div class="form-group row" ng-if="retrieveCarsTask.dispachType == 2">
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">第三方机构名称</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.thirdDispachOrg}}</b></label>
                    <!--<input type="text" placeholder="请输入第三方机构名称" limit-word="50" name="thirdDispachOrg" title="{{retrieveCarsTask.thirdDispachOrg}}" class="form-control" style="width: auto;display: inline-block" ng-model="retrieveCarsTask.thirdDispachOrg" required>-->
                    <!--<p>-->
                    <!--<span class="form-info" ng-show=" (form.thirdDispachOrg.$dirty && form.thirdDispachOrg.$error.required) || (form.thirdDispachOrg.$error.required && formValidate)">请输入第三方机构名称</span>-->
                    <!--</p>-->
                </div>
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">第三方机构联系人</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.thirdDispachContact}}</b></label>
                    <!--<input type="text" placeholder="请输入第三方机构联系人" limit-word="50" name="thirdDispachContact" title="{{retrieveCarsTask.thirdDispachContact}}" class="form-control" style="width: auto;display: inline-block" ng-model="retrieveCarsTask.thirdDispachContact" required>-->
                    <!--<p>-->
                    <!--<span class="form-info" ng-show=" (form.thirdDispachContact.$dirty && form.thirdDispachContact.$error.required) || (form.thirdDispachContact.$error.required && formValidate)">请输入第三方机构联系人</span>-->
                    <!--</p>-->
                </div>
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">第三方机构联系电话</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.thirdDispachMobile}}</b></label>
                    <!--<input type="text" placeholder="请输入第三方机构联系电话" limit-word="50" name="thirdDispachMobile" title="{{retrieveCarsTask.thirdDispachMobile}}" class="form-control" style="width: auto;display: inline-block" ng-model="retrieveCarsTask.thirdDispachMobile" required>-->
                    <!--<p>-->
                    <!--<span class="form-info" ng-show=" (form.thirdDispachMobile.$dirty && form.thirdDispachMobile.$error.required) || (form.thirdDispachMobile.$error.required && formValidate)">请选择登记人</span>-->
                    <!--</p>-->
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row line-lg" style="font-weight: bold;font-size: 14px;">收车信息</div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">收车结果</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.retrieveResult | getName:'retrieveResult'}}</b></label>
                </div>
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">收车费用(元)</b>:</label>
                <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.actRetrAmount}}</b></label>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">收车过程描述</b>:</label>
                <div class="col-sm-8">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.retrProcessDes}}</b></label>
                    <!--<textarea ng-model="retrieveCarsTask.retrProcessDes" style="height: 110px;resize: none; " name="retrProcessDes" class="form-control" limit-word="1000" required></textarea>-->
                    <!--<p>-->
                    <!--<span class="form-info" ng-show=" (form.retrProcessDes.$error.pattern && !form.retrProcessDes.$error.required) || (form.retrProcessDes.$error.required && formValidate)">请输入收车过程描述</span>-->
                    <!--</p>-->
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="form-group row">
                <tree-file-directive detail-flag="$root.yesNoFlag.yes" file-type="$root.basFileTypes.registerFile" files="retrieveCarsTask.registerFileList" not-upload="retrieveCarsTask.notUpload" not-upload-info = "retrieveCarsTask.notUploadInfo" not-file-type="retrieveCarsTask.notFileType" not-file-type-name="retrieveCarsTask.notFileTypeName" >
                </tree-file-directive>
            </div>
        </div>

        <div class="panel-body" ng-if="retrieveCarsTask.retrieveResult == 1">
            <div class="row line-lg" style="font-weight: bold;font-size: 14px;">入库信息</div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">入库时间</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.storageDate}}</b></label>
                </div>
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">入库地点</b>:</label>
                <div class="col-sm-4">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.storageAddr}}</b></label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">经办人</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.agent}}</b></label>
                </div>
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">经办人联系方式</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.agentMobileNo}}</b></label>
                </div>
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">车架号</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.vinNo}}</b></label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">行驶公里数</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.mileAge}}</b></label>
                </div>
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">收车费用(元)</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.actRetrAmount}}</b></label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">车辆状态描述</b>:</label>
                <div class="col-sm-8">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.carStatusDes}}</b></label>
                </div>
            </div>
        </div>

        <div class="panel-body" ng-if="retrieveCarsTask.retrieveResult == 1">
            <div class="form-group row">
                <tree-file-directive detail-flag="$root.yesNoFlag.yes" file-type="$root.basFileTypes.storageFile" files="retrieveCarsTask.storageFileList" not-upload="retrieveCarsTask.notUpload" not-upload-info = "retrieveCarsTask.notUploadInfo" not-file-type="retrieveCarsTask.notFileType" not-file-type-name="retrieveCarsTask.notFileTypeName" >
                </tree-file-directive>
            </div>
        </div>
        <div class="panel-body">
            <div class="row line-lg" style="font-weight: bold;font-size: 14px;">收付款信息
            <div class="pull-right">
                <button class="btn btn-success m-t-xs m-r-xs btn-sm fms-button-margin-top" ng-click="selectBankInfo()">选择付款银行</button>
            </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">收款户名</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.recAccountName}}</b></label>
                </div>
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">收款账号</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.recAccountNo}}</b></label>
                </div>
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">开户行</b>:</label>
                <div class="col-sm-2">
                    <label class="control-label text-left"><b class="form-text-black">{{retrieveCarsTask.recAccBranch}}</b></label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">付款户名</b><b class="form-error">*</b>:</label>
                <div class="col-sm-2">
                    <input type="text" title="{{retrieveCarsTask.payAccountName}}" name="payAccountName"  placeholder="付款户名" class="form-control " style="width: auto;display: inline-block"  ng-model="retrieveCarsTask.payAccountName"  required disabled>
                    <p>
                        <span class="form-info" ng-show=" (form.payAccountName.$error.pattern && !form.payAccountName.$error.required) || (form.payAccountName.$error.required && formValidate)">付款户名不能为空</span>
                    </p>
                </div>
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">付款账号</b><b class="form-error">*</b>:</label>
                <div class="col-sm-2">
                    <input type="text" title="{{retrieveCarsTask.payAccountNo}}" name="payAccountNo"  placeholder="付款账号" class="form-control " style="width: auto;display: inline-block" ng-model="retrieveCarsTask.payAccountNo"  required disabled>
                    <p>
                        <span class="form-info" ng-show=" (form.payAccountNo.$error.pattern && !form.payAccountNo.$error.required) || (form.payAccountNo.$error.required && formValidate)">付款账号不能为空</span>
                    </p>
                </div>
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">付款银行分行</b><b class="form-error">*</b>:</label>
                <div class="col-sm-2">
                    <input type="text" title="{{retrieveCarsTask.payAccBranch}}" name="payAccBranch"  placeholder="付款银行分行" class="form-control " style="width: auto;display: inline-block" ng-model="retrieveCarsTask.payAccBranch"  required disabled>
                    <p>
                        <span class="form-info" ng-show=" (form.payAccBranch.$error.pattern && !form.payAccBranch.$error.required) || (form.payAccBranch.$error.required && formValidate)">付款银行分行不能为空</span>
                    </p>
                </div>
            </div>
        </div>

        <!--<div class="row text-center m-b">-->
            <!--<div class="col-lg-3">-->
                <!--<div class="col-lg-5">-->
                    <!--<label class="control-label">付款户名<b class="form-error">*</b>:</label>-->
                <!--</div>-->
                <!--<div class="col-lg-7">-->
                    <!--<input type="text" title="{{retrieveCarsTask.payAccountName}}" name="payAccountName"  placeholder="付款户名" class="form-control "  ng-model="retrieveCarsTask.payAccountName"  required disabled>-->
                    <!--<p>-->
                        <!--<span class="form-info" ng-show=" (form.payAccountName.$error.pattern && !form.payAccountName.$error.required) || (form.payAccountName.$error.required && formValidate)">付款户名不能为空</span>-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-3">-->
                <!--<div class="col-lg-5">-->
                    <!--<label class="control-label">付款账号<b class="form-error">*</b>:</label>-->
                <!--</div>-->
                <!--<div class="col-lg-7">-->
                    <!--<input type="text" title="{{retrieveCarsTask.payAccountNo}}" name="payAccountNo"  placeholder="付款账号" class="form-control "  ng-model="retrieveCarsTask.payAccountNo"  required disabled>-->
                    <!--<p>-->
                        <!--<span class="form-info" ng-show=" (form.payAccountNo.$error.pattern && !form.payAccountNo.$error.required) || (form.payAccountNo.$error.required && formValidate)">付款账号不能为空</span>-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-3">-->
                <!--<div class="col-lg-5">-->
                    <!--<label class="control-label">付款银行分行<b class="form-error">*</b>:</label>-->
                <!--</div>-->
                <!--<div class="col-lg-7">-->
                    <!--<input type="text" title="{{retrieveCarsTask.payAccBranch}}" name="payAccBranch"  placeholder="付款银行分行" class="form-control "  ng-model="retrieveCarsTask.payAccBranch"  required disabled>-->
                    <!--<p>-->
                        <!--<span class="form-info" ng-show=" (form.payAccBranch.$error.pattern && !form.payAccBranch.$error.required) || (form.payAccBranch.$error.required && formValidate)">付款银行分行不能为空</span>-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-3">-->
                <!--<button class="btn btn-success m-t-xs m-r-xs btn-sm fms-button-margin-top" ng-click="selectBankInfo()">选择付款银行</button>-->
            <!--</div>-->
        <!--</div>-->

        <div class="panel-body">
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right"><b class="form-text-black">备注</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <textarea ng-model="retrieveCarsTask.memo" name="memo"  class="form-control" limit-word="1000" required></textarea>
                    <p>
                        <span class="form-info" ng-show=" (form.memo.$error.pattern && !form.memo.$error.required) || (form.memo.$error.required && formValidate)">请输入备注</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <process-log-list-directive wf-log-type="$root.bizTypes.retrieveCar" wf-log-no="retrieveCarTaskNo"> </process-log-list-directive>
        </div>

    </form>
</div>