<style>
    .applyInput .sub-main{overflow: hidden;}
    .applyInput .sub-body{padding: 10px 40px 0 0;border: 1px solid #eaeeea;border-top: none}
    .applyInput .sub-title{padding: 5px;font-size: 14px;cursor: pointer;background-color: #f5f5f5;border-bottom: 1px solid #eaeeea;}
    .applyInput .sub-title span:first-child{font-weight: bold;color: black;}
    .applyInput .sub-title span:last-child{display: inline-block;width: 20px;height: 20px;}
    .changedColor{color:red;}
</style>
<div ng-controller="person_basic_change_detail_controller" class="applyInput">
    <form name="form" class="form-validation" novalidate>
        <div class="panel panel-default">
            <div class="panel-body wrapper-sm">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group pull-left"><h1 class="m-n font-thin h4">基本信息变更详情</h1></div>
                        <div class="form-group pull-right">
                            <div class="btn-group">
                                <button class="btn btn-sm fms-button-margin-bottom btn-default m-b-xs" ng-click="close()" ng-disabled="submit"><i class=""></i>返回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="sub-main">
                    <div class="sub-title clearfix" click-hide>
                        <span class="pull-left">变更前信息</span>
                        <span class="pull-right"><i class="glyphicon glyphicon-chevron-down"></i></span>
                    </div>
                    <div class="sub-body">
                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-right"><b class="form-text-black">承租人</b>:</label>
                            <div class="col-sm-2">
                                <label class="control-label text-left"><b class="form-text-black">{{oldPersonBasicChangeVo.name}}</b></label>
                            </div>
                            <label class="col-sm-2 control-label text-right"><b class="form-text-black">手机号码</b>:</label>
                            <div class="col-sm-2">
                                <label class="control-label text-left"><b class="form-text-black">{{oldPersonBasicChangeVo.mobileNo}}</b></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-right"><b class="form-text-black">居住省份</b>:</label>
                            <div class="col-sm-2">
                                <label class="control-label text-left"><b class="form-text-black">{{oldPersonBasicChangeVo.resideProvName}}</b></label>
                            </div>
                            <label class="col-sm-2 control-label text-right"><b class="form-text-black ">居住城市</b>:</label>
                            <div class="col-sm-2">
                                <label class="control-label text-left"><b class="form-text-black">{{oldPersonBasicChangeVo.resideCityName}}</b></label>
                            </div>
                            <label class="col-sm-2 control-label text-right"><b class="form-text-black">居住区县</b>:</label>
                            <div class="col-sm-2">
                                <label class="control-label text-left"><b class="form-text-black">{{oldPersonBasicChangeVo.resideCountyName}}</b></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-right"><b class="form-text-black">居住详细地址</b>:</label>
                            <div class="col-sm-6">
                                <label class="control-label text-left"><b class="form-text-black">{{oldPersonBasicChangeVo.resideAddr}}</b></label>
                            </div>
                        </div>
                        <!--联系人控件-->
                        <div>
                            <div class="row">
                                <span style="margin-left: 2%;">变更前联系人信息</span>
                            </div>
                            <div style="margin-right: -40px;padding-left: 5px;padding-bottom: 10px;">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form class="form-inline" role="form">
                                        </form>
                                    </div>
                                </div>
                                <table id="contact_table_detail" border="1" class="table table-striped m-b-none" width="100%"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-main">
                    <div class="sub-title clearfix" click-hide>
                        <span class="pull-left">变更后信息</span>
                        <span class="pull-right"><i class="glyphicon glyphicon-chevron-down"></i></span>
                    </div>
                    <div class="sub-body">
                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-right"><b class="form-text-black">承租人</b>:</label>
                            <div class="col-sm-2">
                                <div ng-if="!nameFlag">
                                    <label class="control-label text-left"><b class="form-text-black">{{newPersonBasicChangeVo.name}}</b></label>
                                </div>
                                <div ng-if="nameFlag">
                                    <label class="control-label text-left"><b class="changedColor form-text-black">{{newPersonBasicChangeVo.name}}</b></label>
                                </div>
                            </div>
                            <label class="col-sm-2 control-label text-right"><b class="form-text-black">手机号码</b>:</label>
                            <div class="col-sm-2">
                                <div ng-if="!mobileNoFlag">
                                    <label class="control-label text-left"><b class="form-text-black">{{newPersonBasicChangeVo.mobileNo}}</b></label>
                                </div>
                                <div ng-if="mobileNoFlag">
                                    <label class="control-label text-left"><b class="changedColor form-text-black">{{newPersonBasicChangeVo.mobileNo}}</b></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-right"><b class="form-text-black">居住省份</b>:</label>
                            <div class="col-sm-2">
                                <div ng-if="!resideProvFlag">
                                    <label class="control-label text-left"><b class="form-text-black">{{newPersonBasicChangeVo.resideProvName}}</b></label>
                                </div>
                                <div ng-if="resideProvFlag">
                                    <label class="control-label text-left"><b class="changedColor form-text-black">{{newPersonBasicChangeVo.resideProvName}}</b></label>
                                </div>
                            </div>
                            <label class="col-sm-2 control-label text-right"><b class="form-text-black">居住城市</b>:</label>
                            <div class="col-sm-2">
                                <div ng-if="!resideCityFlag">
                                    <label class="control-label text-left"><b class="form-text-black">{{newPersonBasicChangeVo.resideCityName}}</b></label>
                                </div>
                                <div ng-if="resideCityFlag">
                                    <label class="control-label text-left"><b class="changedColor form-text-black">{{newPersonBasicChangeVo.resideCityName}}</b></label>
                                </div>
                            </div>
                            <label class="col-sm-2 control-label text-right"><b class="form-text-black">居住区县</b>:</label>
                            <div class="col-sm-2">
                                <div ng-if="!resideCountyFlag">
                                    <label class="control-label text-left"><b class="form-text-black">{{newPersonBasicChangeVo.resideCountyName}}</b></label>
                                </div>
                                <div ng-if="resideCountyFlag">
                                    <label class="control-label text-left"><b class="changedColor form-text-black">{{newPersonBasicChangeVo.resideCountyName}}</b></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-right"><b class="form-text-black">居住详细地址</b>:</label>
                            <div class="col-sm-6">
                                <div ng-if="!resideAddrFlag">
                                    <label class="control-label text-left"><b class="form-text-black">{{newPersonBasicChangeVo.resideAddr}}</b></label>
                                </div>
                                <div ng-if="resideAddrFlag">
                                    <label class="control-label text-left"><b class="changedColor form-text-black">{{newPersonBasicChangeVo.resideAddr}}</b></label>
                                </div>
                            </div>
                        </div>

                        <!--联系人控件-->
                        <div>
                            <div class="row">
                                <span style="margin-left: 2%;">增加联系人信息</span>
                            </div>
                            <div style="margin-right: -40px;padding-left: 5px;padding-bottom: 10px;">
                                <table id="contact_table_save" border="1" class="table table-striped m-b-none" width="100%"></table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--流程日志-->
            <div class="panel-body wrapper-sm">
                <div ng-include="'tpl/common/process_log/process_log_list.html'"></div>
            </div>
        </div>
    </form>
</div>
