<div class="modal-header">
    <div class="form-group">
        <h4 class="modal-title">postbiz详情 <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button></h4>
    </div>
</div>
<div class="modal-body">
    <form name="form" class="form-validation" novalidate>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">操作类型</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{contactsChange.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">申请编号</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{contactsChange.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">变更任务号</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{contactsChange.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">联系人姓名</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{contactsChange.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">联系人关系</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{contactsChange.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">联系人手机号码</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{contactsChange.column.columnNameFirstLower}}</label>
                </div>
            </div>

    </form>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-default" ng-click="close()">关闭</button>
</div>