<div class="modal-header">
    <h4 class="modal-title">编辑postbiz <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button></h4>
</div>
<div class="modal-body">
    <form name="form" class="form-validation" novalidate>

        <div class="panel-body">

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">操作类型</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="solveType" placeholder="请输入操作类型" class="form-control m-b-xs" ng-model="contactsChange.solveType"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.solveType.$dirty && form.solveType.$error.required) || (form.solveType.$error.required && formValidate)">操作类型不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">申请编号</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="applyNo" placeholder="请输入申请编号" class="form-control m-b-xs" ng-model="contactsChange.applyNo"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.applyNo.$dirty && form.applyNo.$error.required) || (form.applyNo.$error.required && formValidate)">申请编号不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">变更任务号</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="contactsTaskNo" placeholder="请输入变更任务号" class="form-control m-b-xs" ng-model="contactsChange.contactsTaskNo"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.contactsTaskNo.$dirty && form.contactsTaskNo.$error.required) || (form.contactsTaskNo.$error.required && formValidate)">变更任务号不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">联系人姓名</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="name" placeholder="请输入联系人姓名" class="form-control m-b-xs" ng-model="contactsChange.name"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.name.$dirty && form.name.$error.required) || (form.name.$error.required && formValidate)">联系人姓名不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">联系人关系</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="relation" placeholder="请输入联系人关系" class="form-control m-b-xs" ng-model="contactsChange.relation"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.relation.$dirty && form.relation.$error.required) || (form.relation.$error.required && formValidate)">联系人关系不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">联系人手机号码</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="mobileNo" placeholder="请输入联系人手机号码" class="form-control m-b-xs" ng-model="contactsChange.mobileNo"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.mobileNo.$dirty && form.mobileNo.$error.required) || (form.mobileNo.$error.required && formValidate)">联系人手机号码不能为空</span>
                    </p>
                </div>
            </div>


        </div>
    </form>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-default" ng-click="close()">取消</button>
    <button type="submit" class="btn btn-success" ng-disabled="submit" ng-click="modify()">保存</button>
</div>