<div class="modal-header">
    <h4 class="modal-title">编辑system <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button></h4>
</div>
<div class="modal-body">
    <form name="form" class="form-validation" novalidate>

        <div class="panel-body">

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">用户id</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="userId" placeholder="请输入用户id" class="form-control m-b-xs" ng-model="sysUserMenu.userId"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.userId.$dirty && form.userId.$error.required) || (form.userId.$error.required && formValidate)">用户id不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">菜单id</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="menuId" placeholder="请输入菜单id" class="form-control m-b-xs" ng-model="sysUserMenu.menuId"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.menuId.$dirty && form.menuId.$error.required) || (form.menuId.$error.required && formValidate)">菜单id不能为空</span>
                    </p>
                </div>
            </div>


        </div>
    </form>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-default" ng-click="close()">取消</button>
    <button type="submit" class="btn btn-success" ng-disabled="submit" ng-click="modify()">保存</button>
</div>