<div class="modal-header">
    <h4 class="modal-title">添加baseinfo <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button></h4>
</div>
<div class="modal-body">
    <form name="form" class="form-validation" novalidate>

        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">规则ID</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="ruleId" placeholder="请输入规则ID" class="form-control m-b-xs" ng-model="ruleConsequence.ruleId"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.ruleId.$dirty && form.ruleId.$error.required) || (form.ruleId.$error.required && formValidate)">规则ID不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">规则序号</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="ruleNo" placeholder="请输入规则序号" class="form-control m-b-xs" ng-model="ruleConsequence.ruleNo"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.ruleNo.$dirty && form.ruleNo.$error.required) || (form.ruleNo.$error.required && formValidate)">规则序号不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">结果项目key</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="conseqItemKey" placeholder="请输入结果项目key" class="form-control m-b-xs" ng-model="ruleConsequence.conseqItemKey"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.conseqItemKey.$dirty && form.conseqItemKey.$error.required) || (form.conseqItemKey.$error.required && formValidate)">结果项目key不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">结果匹配逻辑</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="conseqLogicType" placeholder="请输入结果匹配逻辑" class="form-control m-b-xs" ng-model="ruleConsequence.conseqLogicType"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.conseqLogicType.$dirty && form.conseqLogicType.$error.required) || (form.conseqLogicType.$error.required && formValidate)">结果匹配逻辑不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">结果项目值1</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="conseqLogicValue1" placeholder="请输入结果项目值1" class="form-control m-b-xs" ng-model="ruleConsequence.conseqLogicValue1"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.conseqLogicValue1.$dirty && form.conseqLogicValue1.$error.required) || (form.conseqLogicValue1.$error.required && formValidate)">结果项目值1不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">结果项目值2</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="conseqLogicValue2" placeholder="请输入结果项目值2" class="form-control m-b-xs" ng-model="ruleConsequence.conseqLogicValue2"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.conseqLogicValue2.$dirty && form.conseqLogicValue2.$error.required) || (form.conseqLogicValue2.$error.required && formValidate)">结果项目值2不能为空</span>
                    </p>
                </div>
            </div>


        </div>

    </form>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-default" ng-click="close()">取消</button>
    <button type="submit" class="btn btn-success" ng-disabled="submit" ng-click="save()">新增</button>
</div>