<div  ng-controller="act_re_model_list_controller">
    <div>
        <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    </div>
    <div class="panel panel-default">
        <div class="panel-body wrapper-sm">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" >模型名称 </label>
                            <input class="form-control m-b-xs" ng-model="name" placeholder="模型名称">
                        </div>

                        <div class="form-group m-b-sm">
                            <div class="btn-group">
                                <button class="btn btn-success m-b-xs btn-info btn-sm fms-button-margin-bottom" ng-click="searchActReModel()" ><i class="fa fa-search"></i>查询</button>
                                <button class="btn btn-default m-b-xs btn-sm fms-button-margin-bottom" ng-click="resetActReModel()" ><i class="fa  icon-refresh"></i>重置</button>
                            </div>
                        </div>

                        <div class="form-group pull-right">
                            <div class="btn-group">
                                <a href="modeler.html?modelId=_id_" target="_blank" ng-show="false" id="drawingActReModelHref">
                                    <span id="drawingActReModelHrefSpan">model</span>
                                </a>
                                <button class="btn btn-default m-b-xs btn-sm fms-button-margin-bottom" ng-click="saveActReModel()"><i class="fa fa-plus"></i>添加</button>
                                <button class="btn btn-default m-b-xs btn-sm fms-button-margin-bottom" ng-click="modifyActReModel()"><i class="fa icon-pencil"></i>修改</button>
                                <button class="btn btn-default m-b-xs btn-sm fms-button-margin-bottom" ng-click="deleteActReModel()"><i class="fa fa-trash-o"></i>删除</button>
                                <button class="btn btn-default m-b-xs btn-sm fms-button-margin-bottom" ng-click="deployActReModel()">部署流程</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <table border="1" class="table table-striped m-b-none" id="act_re_model_table">
        </table>
    </div>
</div>

