<div class="modal-header">
    <div class="form-group">
        <h4 class="modal-title">prebiz详情 <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button></h4>
    </div>
</div>
<div class="modal-body">
    <form name="form" class="form-validation" novalidate>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">订单编号</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{cstmCompany.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">企业名称</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{cstmCompany.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">统一社会信用代码</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{cstmCompany.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">组织机构代码</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{cstmCompany.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">机构信用代码</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{cstmCompany.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">中征码</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{cstmCompany.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">法定代表人</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{cstmCompany.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">法人证件类型</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{cstmCompany.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">法人证件号码</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{cstmCompany.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">经营地址-省份</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{cstmCompany.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">经营地址-城市</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{cstmCompany.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">经营地址-区县</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{cstmCompany.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">经营地址-详细地址</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{cstmCompany.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">注册资金</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{cstmCompany.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">企业联系电话</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{cstmCompany.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">企业性质</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{cstmCompany.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">成立年限</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{cstmCompany.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">实际用车人</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{cstmCompany.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">实际用车人手机号码</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{cstmCompany.column.columnNameFirstLower}}</label>
                </div>
            </div>

    </form>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-default" ng-click="close()">关闭</button>
</div>