
<div  ng-controller="cont_insur_claim_list_controller">
    <div>
        <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    </div>
    <div class="panel panel-default">
        <div class="panel-body wrapper-sm">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" >合同编号 </label>
                            <input class="form-control m-b-xs" ng-model="contNo" placeholder="合同编号">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" >出租人区域 </label>
                            <input class="form-control m-b-xs" ng-model="groupDistrict" placeholder="请输入出租人区域">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" >承租人 </label>
                            <input class="form-control m-b-xs" ng-model="name" placeholder="承租人">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" >车架号 </label>
                            <input class="form-control m-b-xs" ng-model="vinNo" placeholder="请输入车架号">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" >车牌号 </label>
                            <input class="form-control m-b-xs" ng-model="vehicleLicenseNo" placeholder="请输入车牌号">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" >发动机号 </label>
                            <input class="form-control m-b-xs" ng-model="engineNo" placeholder="请输入发动机号">
                        </div>
                        <div class="form-group m-b-sm">
                            <div class="btn-group">
                                <!--<button class="btn btn-default m-b-xs btn-info" ng-click="searchContInsurClaim()" ><i class="fa fa-search"></i>查询</button>
                                <button class="btn btn-default m-b-xs" ng-click="resetContInsurClaim()" ><i class="fa  icon-refresh"></i>重置</button>-->
                                <button class="btn btn-default btn-sm m-b-xs btn-info fms-button-margin-bottom" ng-click="searchContInsurClaim()" ><i class="fa fa-search"></i>查询</button>
                                <button class="btn btn-default btn-sm m-b-xs fms-button-margin-bottom" ng-click="resetContInsurClaim()" ><i class="fa  icon-refresh"></i>重置</button>
                            </div>
                        </div>

                        <div class="form-group pull-right">
                            <div class="btn-group">
                                <!--<button class="btn btn-default m-b-xs" ng-click="saveContInsurClaim()"><i class="fa"></i>申请保险理赔</button>
                                <button class="btn btn-default m-b-xs" ng-click="exportExcel()"><i class="fa"></i>导出Excel</button>-->
                                <button class="btn btn-default btn-sm m-b-xs btn-info fms-button-margin-bottom" ng-click="saveContInsurClaim()" ><i class="fa fa-search"></i>申请保险理赔</button>
                                <button class="btn btn-default btn-sm m-b-xs fms-button-margin-bottom" ng-click="exportExcel()" ><i class="fa  icon-refresh"></i>导出Excel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <table border="1" class="table table-striped m-b-none" id="cont_insur_claim_table">
        </table>
    </div>
</div>

