<div class="modal-header">
    <h4 class="modal-title">编辑system <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button></h4>
</div>
<div class="modal-body">
    <form name="form" class="form-validation" novalidate>

        <div class="panel-body">

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">操作识别ID</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="actWidgetId" placeholder="请输入操作识别ID" class="form-control m-b-xs" ng-model="sysLog.actWidgetId"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.actWidgetId.$dirty && form.actWidgetId.$error.required) || (form.actWidgetId.$error.required && formValidate)">操作识别ID不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">操作人员</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="user" placeholder="请输入操作人员" class="form-control m-b-xs" ng-model="sysLog.user"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.user.$dirty && form.user.$error.required) || (form.user.$error.required && formValidate)">操作人员不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">操作开始时间</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="startTime" placeholder="请输入操作开始时间" class="form-control m-b-xs" ng-model="sysLog.startTime"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.startTime.$dirty && form.startTime.$error.required) || (form.startTime.$error.required && formValidate)">操作开始时间不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">操作结束时间</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="endTime" placeholder="请输入操作结束时间" class="form-control m-b-xs" ng-model="sysLog.endTime"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.endTime.$dirty && form.endTime.$error.required) || (form.endTime.$error.required && formValidate)">操作结束时间不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">参数信息</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="actParamInfo" placeholder="请输入参数信息" class="form-control m-b-xs" ng-model="sysLog.actParamInfo"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.actParamInfo.$dirty && form.actParamInfo.$error.required) || (form.actParamInfo.$error.required && formValidate)">参数信息不能为空</span>
                    </p>
                </div>
            </div>


        </div>
    </form>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-default" ng-click="close()">取消</button>
    <button type="submit" class="btn btn-success" ng-disabled="submit" ng-click="modify()">保存</button>
</div>