<div  ng-controller="sys_data_dictionary_list_controller">
    <div>
        <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    </div>
    <div class="panel panel-default">
        <div class="panel-body wrapper-sm">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" >属性名称 </label>
                            <input class="form-control m-b-xs" ng-model="dataDicName" placeholder="字典名称">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" >属性编码 </label>
                            <input class="form-control m-b-xs" ng-model="dataDicCode" placeholder="字典编码">
                        </div>

                        <div class="form-group m-b-sm">
                            <div class="btn-group">
                                <button class="btn btn-default m-b-xs btn-info" ng-click="searchSysDataDictionary()" ><i class="fa fa-search"></i>查询</button>
                                <button class="btn btn-default m-b-xs" ng-click="resetSysDataDictionary()" ><i class="fa  icon-refresh"></i>重置</button>
                            </div>
                        </div>

                        <div class="form-group pull-right">
                            <div class="btn-group">
                                <button class="btn btn-default m-b-xs" ng-click="saveSysDataDictionary()"><i class="fa fa-plus"></i>添加</button>
                                <button class="btn btn-default m-b-xs" ng-click="modifySysDataDictionary()"><i class="fa icon-pencil"></i>修改</button>
                                <button class="btn btn-default m-b-xs" ng-click="deleteSysDataDictionary()"><i class="fa fa-trash-o"></i>删除</button>
                                <button class="btn btn-default m-b-xs" ng-click="manageSysDataDictionary()">管理下级</button>
                                <button class="btn btn-default m-b-xs" ng-click="flushSysDataDictionaryCache()">刷新字典缓存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <table border="1" class="table table-striped m-b-none" id="sys_data_dictionary_table">
        </table>
    </div>
</div>

