<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h4">财务确认收款</h1>
</div>
<div  ng-controller="transfer_receipt_controller" style="padding: 10px;">
    <div>
        <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    </div>
    <div class="panel panel-default" >
        <div class="panel-body">
            <div class="row m-b-xs">
                <div class="form-group pull-right">
                    <div class="btn-group ">
                        <!--<button class="btn btn-success m-b-xs btn-sm fms-button-margin-bottom" ng-click="returnBack()" ng-disabled="submit"><i class=""></i>退回</button>-->
                        <button class="btn btn-success m-b-xs btn-sm fms-button-margin-bottom" ng-click="submitInfo()" ng-disabled="submit"><i class=""></i>确认收款</button>
                        <button class="btn btn-default m-b-xs btn-sm fms-button-margin-bottom" ng-click="goBack()"><i class=""></i>返回</button>
                    </div>
                </div>
            </div>
            <form name="form" class="form-validation" novalidate>
                <!--<div class="row" style="font-weight: bold;font-size: 14px; padding-left: 10px;">进账信息</div>-->
                <div class="row">
                    <div class="form-group row">
                        <div class="btn-group pull-right m-r-md">
                            <button class="btn btn-info m-b-xs m-r-sm btn-sm" ng-click="add()"><i class="fa fa-plus m-r-xs"></i>增加</button>
                        </div>
                    </div>
                    <div class="dataTables_wrapper form-inline dt-bootstrap no-footer" style="padding: 5px;">
                        <table border="1" class="table table-striped m-b-none dataTable no-footer" width="100%">
                            <thead>
                            <tr>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">收款银行分行</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">收款户名</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">收款账号</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">联行号</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">实收金额</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">到帐日期</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">备注</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr click-tr ng-show="receiptVoList.length == 0">
                                <td colspan="7" class="dataTables_empty"><a class="a1" ng-click="add()">点击添加</a></td>
                            </tr>
                            <tr ng-show="receiptVoList.length != 0" ng-repeat="a in receiptVoList track by $index">
                                <td>
                                    <input type="text" title="{{a.recAccBranch}}" name="recAccBranch_{{$index}}" placeholder="收款银行分行" class="form-control m-b-xs" ng-model="a.recAccBranch" disabled required>
                                    <p>
                                        <span class="form-info" ng-show=" (form.recAccBranch_{{$index}}.$dirty && form.recAccBranch_{{$index}}.$error.required) || (form.recAccBranch_{{$index}}.$error.required && formValidate)">请选择收款银行分行</span>
                                    </p>
                                </td>
                                <td>
                                    <input type="text" name="recAccountName_{{$index}}" placeholder="收款户名" class="form-control m-b-xs" ng-model="a.recAccountName" disabled>
                                    <p>
                                        <span class="form-info" ng-show=" (form.recAccountName_{{$index}}.$dirty && form.recAccountName_{{$index}}.$error.required) || (form.recAccountName_{{$index}}.$error.required && formValidate)">收款户名</span>
                                    </p>
                                </td>
                                <td>
                                    <input type="text" name="recAccountNo_{{$index}}" placeholder="收款账号" class="form-control m-b-xs" ng-model="a.recAccountNo" disabled>
                                    <p>
                                        <span class="form-info" ng-show=" (form.recAccountNo_{{$index}}.$dirty && form.recAccountNo_{{$index}}.$error.required) || (form.recAccountNo_{{$index}}.$error.required && formValidate)">收款账号</span>
                                    </p>
                                </td>
                                <td>
                                    <input type="text" name="recEleBankNo_{{$index}}" placeholder="联行号" class="form-control m-b-xs" ng-model="a.recEleBankNo" disabled>
                                    <p>
                                        <span class="form-info" ng-show=" (form.recEleBankNo_{{$index}}.$dirty && form.recEleBankNo_{{$index}}.$error.required) || (form.recEleBankNo_{{$index}}.$error.required && formValidate)">联行号</span>
                                    </p>
                                </td>
                                <td>
                                    <input type="number" name="receiptAmount_{{$index}}" placeholder="实收金额" class="form-control m-b-xs" ng-model="a.receiptAmount" ng-change="setInputVal()" required>
                                    <p>
                                        <span class="form-info" ng-show=" (form.receiptAmount_{{$index}}.$dirty && form.receiptAmount_{{$index}}.$error.required) || (form.receiptAmount_{{$index}}.$error.required && formValidate)">实收金额不能为空</span>
                                    </p>
                                </td>
                                <td>
                                    <input type="text" name="receiptDate_{{$index}}" placeholder="到帐日期" class="form-control m-b-xs" ng-model="a.receiptDate" date-picker  required>
                                    <p>
                                        <span class="form-info" ng-show=" (form.receiptDate_{{$index}}.$dirty && form.receiptDate_{{$index}}.$error.required) || (form.receiptDate_{{$index}}.$error.required && formValidate)">到帐日期不能为空</span>
                                    </p>
                                </td>
                                <td>
                                    <input limit-word type="text" name="memo_{{$index}}" placeholder="备注" class="form-control m-b-xs" ng-model="a.memo" >
                                </td>
                                <td>
                                    <a class="a1" ng-click="selectBasBankInfo($index)">选择收款银行分行</a>
                                    <a class="a1" ng-click="del($index)">删除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group row m-t-xs">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">退保金额</b><b class="form-error"></b>:</label>
                        <div class="col-sm-2">
                            <input type="text" name="retreatsAmount" class="form-control m-b-xs" ng-model="transferInfoVo.retreatsAmount" disabled>
                        </div>
                        <label class="col-sm-1 control-label text-right"><b class="form-text-black">应收总金额</b><b class="form-error"></b>:</label>
                        <div class="col-sm-2">
                            <input type="text" name="chargeAmount" class="form-control m-b-xs" ng-model="transferInfoVo.chargeAmount" disabled>
                        </div>

                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">实收总金额</b><b
                                class="form-error"></b>:</label>
                        <div class="col-sm-2">
                            <input type="text" name="receiptActualAmount" class="form-control m-b-xs" ng-model="transferInfoVo.receiptActualAmount" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">备注</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-6">
                            <textarea limit-word type="text" name="remark" placeholder="备注" class="form-control m-b-xs r-none" ng-model="transferInfoVo.remark" ng-maxlength='1000' required ></textarea>
                            <p>
                                <span class="form-info" ng-show=" (form.remark.$dirty && form.remark.$error.required) || (form.remark.$error.required && formValidate)">备注不能为空</span>
                                <span class="form-info" ng-show="(form.remark.$dirty && form.remark.$error.maxlength) || (form.remark.$error.maxlength && formValidate)">备注长度不超过1000</span>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 详情页面 -->
            <div ng-include="'tpl/postbiz/transfer_info/transfer_info_detail.html'"></div>
        </div>

    </div>
</div>