<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h4">客户还款信息一览</h1>
</div>
<div  ng-controller="contRepayAccount_list_controller">
    <div>
        <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    </div>
    <div class="panel panel-default">
        <div class="panel-body wrapper-sm">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" >申请编号 </label>
                            <input class="form-control m-b-xs" ng-model="applyNo" placeholder="请输入申请编号">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" >合同编号 </label>
                            <input class="form-control m-b-xs" ng-model="contNo" placeholder="请输入合同编号">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" >客户姓名 </label>
                            <input class="form-control m-b-xs" ng-model="name" placeholder="请输入客户姓名">
                        </div>

                        <div class="form-group m-b-sm">
                            <div class="btn-group">
                                <button class="btn btn-default m-b-xs btn-info" ng-click="searchContRepayAccountList()" ><i class="fa fa-search"></i>查询</button>
                                <button class="btn btn-default m-b-xs" ng-click="resetContRepayAccountList()" ><i class="fa  icon-refresh"></i>重置</button>
                            </div>
                        </div>

                        <div class="form-group pull-right">
                            <div class="btn-group">
                                <button class="btn btn-default m-b-xs" ng-click="modifyContRepayAccount()"><i class="fa icon-pencil"></i>修改还款卡信息</button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
        <table border="1" class="table table-striped m-b-none" id="contRepayAccount_table">
        </table>
    </div>
</div>

