<div class="modal-header">
    <h4 class="modal-title">添加prebiz <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button></h4>
</div>
<div class="modal-body">
    <form name="form" class="form-validation" novalidate>

        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">订单编号</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="applyNo" placeholder="请输入订单编号" class="form-control m-b-xs" ng-model="commonBorrower.applyNo"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.applyNo.$dirty && form.applyNo.$error.required) || (form.applyNo.$error.required && formValidate)">订单编号不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">借款人姓名</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="name" placeholder="请输入借款人姓名" class="form-control m-b-xs" ng-model="commonBorrower.name"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.name.$dirty && form.name.$error.required) || (form.name.$error.required && formValidate)">借款人姓名不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">证件类型</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="certifType" placeholder="请输入证件类型" class="form-control m-b-xs" ng-model="commonBorrower.certifType"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.certifType.$dirty && form.certifType.$error.required) || (form.certifType.$error.required && formValidate)">证件类型不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">证件号码</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="certifNo" placeholder="请输入证件号码" class="form-control m-b-xs" ng-model="commonBorrower.certifNo" ng-pattern="/^[0-9a-zA-Z]+$/" required >
                    <p>
                        <span class="form-info" ng-show=" (form.certifNo.$dirty && form.certifNo.$error.required) || (form.certifNo.$error.required && formValidate)">证件号码不能为空</span>
                        <span class="form-info" ng-show=" (form.certifNo.$error.pattern && !form.certifNo.$error.required) || (form.certifNo.$error.pattern && formValidate && !form.certifNo.$error.required)">请输入合法的证件号</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">手机号码</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="mobileNo" placeholder="请输入手机号码" class="form-control m-b-xs" ng-model="commonBorrower.mobileNo"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.mobileNo.$dirty && form.mobileNo.$error.required) || (form.mobileNo.$error.required && formValidate)">手机号码不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">单位名称</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="compName" placeholder="请输入单位名称" class="form-control m-b-xs" ng-model="commonBorrower.compName"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.compName.$dirty && form.compName.$error.required) || (form.compName.$error.required && formValidate)">单位名称不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">单位电话</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="compTel" placeholder="请输入单位电话" class="form-control m-b-xs" ng-model="commonBorrower.compTel"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.compTel.$dirty && form.compTel.$error.required) || (form.compTel.$error.required && formValidate)">单位电话不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">职位</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="position" placeholder="请输入职位" class="form-control m-b-xs" ng-model="commonBorrower.position"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.position.$dirty && form.position.$error.required) || (form.position.$error.required && formValidate)">职位不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">年薪(万元)</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="number" limit-number="4" name="salary" placeholder="请输入年薪(万元)" class="form-control m-b-xs" ng-model="commonBorrower.salary"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.salary.$dirty && form.salary.$error.required) || (form.salary.$error.required && formValidate)">年薪(万元)不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">单位所在省份</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="compProv" placeholder="请输入单位所在省份" class="form-control m-b-xs" ng-model="commonBorrower.compProv"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.compProv.$dirty && form.compProv.$error.required) || (form.compProv.$error.required && formValidate)">单位所在省份不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">单位所在城市</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="compCity" placeholder="请输入单位所在城市" class="form-control m-b-xs" ng-model="commonBorrower.compCity"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.compCity.$dirty && form.compCity.$error.required) || (form.compCity.$error.required && formValidate)">单位所在城市不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">单位所在区县</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="compCounty" placeholder="请输入单位所在区县" class="form-control m-b-xs" ng-model="commonBorrower.compCounty"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.compCounty.$dirty && form.compCounty.$error.required) || (form.compCounty.$error.required && formValidate)">单位所在区县不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">单位所在详细地址</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="compAddr" placeholder="请输入单位所在详细地址" class="form-control m-b-xs" ng-model="commonBorrower.compAddr"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.compAddr.$dirty && form.compAddr.$error.required) || (form.compAddr.$error.required && formValidate)">单位所在详细地址不能为空</span>
                    </p>
                </div>
            </div>


        </div>

    </form>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-default" ng-click="close()">取消</button>
    <button type="submit" class="btn btn-success" ng-disabled="submit" ng-click="save()">新增</button>
</div>