<div class="modal-header">
    <div class="form-group">
        <h4 class="modal-title">postbiz详情 <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button></h4>
    </div>
</div>
<div class="modal-body">
    <form name="form" class="form-validation" novalidate>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">发票种类</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{invoiceAuto.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">购方名称</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{invoiceAuto.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">购方税号（公司必填）</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{invoiceAuto.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">购方开户行及账号（专用发票必填）</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{invoiceAuto.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">购方地址电话（专用发票必填）</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{invoiceAuto.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">税率</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{invoiceAuto.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">发票十位代码</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{invoiceAuto.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">发票号码</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{invoiceAuto.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">销货清单标志</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{invoiceAuto.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">开票日期</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{invoiceAuto.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">所属月份</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{invoiceAuto.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">合计不含税金额</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{invoiceAuto.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">合计税额</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{invoiceAuto.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">接口请求xml</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{invoiceAuto.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">接口返回xml</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{invoiceAuto.column.columnNameFirstLower}}</label>
                </div>
            </div>

    </form>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-default" ng-click="close()">关闭</button>
</div>