<div class="modal-header">
    <div class="form-group">
        <h4 class="modal-title">product详情 <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button></h4>
    </div>
</div>
<div class="modal-body">
    <form name="form" class="form-validation" novalidate>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">产品方案代码</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{prodIntrst.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">利率方案序号</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{prodIntrst.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">客户利率</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{prodIntrst.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">结算利率</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{prodIntrst.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">手续费率</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{prodIntrst.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">结算手续费率</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{prodIntrst.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">一次性手续费</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{prodIntrst.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">贴息方式</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{prodIntrst.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">贴息利率</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{prodIntrst.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">贴息年限</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{prodIntrst.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">贴息金额</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{prodIntrst.column.columnNameFirstLower}}</label>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">利率方式</b><b class="form-error">*</b>:</label>
                <div class="col-sm-8">
                    <label class="col-sm-12 control-label text-left">{{prodIntrst.column.columnNameFirstLower}}</label>
                </div>
            </div>

    </form>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-default" ng-click="close()">关闭</button>
</div>