<!DOCTYPE html>
<div ng-init="init();">
    <div class="modal-header">
        <h4 class="modal-title">辅助核算类型<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button></h4>
    </div>
    <div class="modal-body">
        <table border="1" class="table table-striped m-b-none" style="border: 1px solid #eaeeea;" id="assis_account_type_table"></table>
    </div>
    <div class="modal-footer ng-scope text-center">
        <button class="btn btn-default" ng-click="close()">取消</button>
        <button type="submit" class="btn btn-success" ng-click="save()">确定</button>
    </div>
</div>