<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h4">辅助核算类型管理</h1>
</div>
<div  ng-controller="assis_account_type_list_controller">
    <div>
        <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    </div>
    <div class="panel panel-default">
        <div class="panel-body wrapper-sm">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" >辅助核算类型 </label>
                            <input class="form-control m-b-xs" ng-model="assisAccountType" placeholder="辅助核算类型">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" >辅助核算类型名称 </label>
                            <input class="form-control m-b-xs" ng-model="assisAccountTypeName" placeholder="辅助核算类型名称">
                        </div>

                        <div class="form-group m-b-sm">
                            <div class="btn-group">
                                <button class="btn btn-default m-b-xs btn-info" ng-click="searchAssisAccountType()" ><i class="fa fa-search"></i>查询</button>
                                <button class="btn btn-default m-b-xs" ng-click="resetAssisAccountType()" ><i class="fa  icon-refresh"></i>重置</button>
                            </div>
                        </div>

                        <div class="form-group pull-right">
                            <div class="btn-group">
                                <button class="btn btn-default m-b-xs" ng-click="saveAssisAccountType()"><i class="fa fa-plus"></i>添加</button>
                                <button class="btn btn-default m-b-xs" ng-click="modifyAssisAccountType()"><i class="fa icon-pencil"></i>修改</button>
                                <button class="btn btn-default m-b-xs" ng-click="deleteAssisAccountType()"><i class="fa fa-trash-o"></i>删除</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <table border="1" class="table table-striped m-b-none" id="assis_account_type_table">
        </table>
    </div>
</div>

