<div class="modal-header">
    <h4 class="modal-title">{{sysWidget.widgetName}}画面的项目权限管理 <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button></h4>
</div>

<div ng-init="init()">
    <div class="panel panel-default">
        <div class="panel-body wrapper-sm">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" >项目ID </label>
                            <input class="form-control m-b-xs" ng-model="eleWidgetId" placeholder="项目ID">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" >项目名称 </label>
                            <input class="form-control m-b-xs" ng-model="eleWidgetName" placeholder="项目名称">
                        </div>

                        <div class="form-group m-b-sm">
                            <div class="btn-group">
                                <button class="btn btn-default m-b-xs btn-info" ng-click="searchSysWidgetAttribute()" ><i class="fa fa-search"></i>查询</button>
                                <button class="btn btn-default m-b-xs" ng-click="resetSysWidgetAttribute()" ><i class="fa  icon-refresh"></i>重置</button>
                            </div>
                        </div>

                        <div class="form-group pull-right">
                            <div class="btn-group">
                                <button class="btn btn-default m-b-xs" ng-click="saveSysWidgetAttribute()"><i class="fa fa-plus"></i>添加</button>
                                <button class="btn btn-default m-b-xs" ng-click="modifySysWidgetAttribute()"><i class="fa icon-pencil"></i>修改</button>
                                <button class="btn btn-default m-b-xs" ng-click="deleteSysWidgetAttribute()"><i class="fa fa-trash-o"></i>删除</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="panel panel-default" style="border: 0">
            <table border="1" class="table table-striped m-b-none" id="sys_widget_attribute_table">
            </table>
        </div>
    </div>
</div>

<div class="modal-footer ng-scope">
    <button class="btn btn-default" ng-click="close()">关闭</button>
</div>


