
<ul type="none" style="padding:0">
    <form name="form" class="form-validation" novalidate>
        <div class="panel panel-default">
            <div class="panel-body wrapper-sm">
                <!-- </div>

                 <div class="panel-body wrapper-sm">-->
                <li style="font-weight: bold;font-size: 14px;">客户基础信息</li>
                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">承租人</b><b class="form-error"></b>:</label>
                    <div class="col-sm-2">
                        <input type="text" title="{{contReceiptPayVo.personName}}" name="personName" class="form-control m-b-xs" ng-model="contReceiptPayVo.personName" disabled>
                    </div>

                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">车架号</b><b
                            class="form-error"></b>:</label>
                    <div class="col-sm-2">
                        <input type="text" title="{{contReceiptPayVo.vinNo}}" name="vinNo" class="form-control m-b-xs" ng-model="contReceiptPayVo.vinNo" disabled>
                    </div>

                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">出租人</b><b
                            class="form-error"></b>:</label>
                    <div class="col-sm-2">
                        <input type="text" title="{{contReceiptPayVo.rentName}}" name="rentName" class="form-control m-b-xs" ng-model="contReceiptPayVo.rentName" disabled >
                    </div>
                </div>

                <li style="font-weight: bold;font-size: 14px;">收款明细信息</li>
                <!--<div class="form-group row">
                    <div class="btn-group pull-right">
                        <button class="btn btn-info m-b-xs m-l-sm btn-sm" ng-click="add()"><i class="fa fa-plus m-r-xs"></i>增加</button>
                    </div>
                </div>-->

                <div class="col-sm-12" style="overflow-x: auto;margin-bottom: 10px;">
                    <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <table border="1" class="table table-striped m-b-none dataTable no-footer" width="100%">
                            <thead>
                            <tr>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">收款类型</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">应收金额</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">抵扣金额</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">实收金额</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">到账日期</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">备注</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">收款银行分行</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">收款户名</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">收款账号</th>
                                <!--<th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">备注</th>-->
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--<tr ng-show="contReceiptVoList.length == 0">
                                <td colspan="7" class="dataTables_empty"><a class="a1" ng-click="add()">点击添加</a></td>
                            </tr>-->
                            <tr click-tr ng-repeat="a in contReceiptPayVo.contChargeReceiptVoList">

                                <td>
                                    {{a.chargeFund | getName:'payFundName'}}
                                </td>
                                <td>
                                    {{a.chargeAmount}}
                                </td>
                                <td>
                                    <input limit-number="10" type="number" name="chargeDeductionAmount_{{$index}}" placeholder="抵扣金额" class="form-control m-b-xs" ng-model="a.chargeDeductionAmount" ng-change="chargeDeductionAmount(a)" required>
                                    <p ng-show=" (form.chargeDeductionAmount_{{$index}}.$dirty && form.chargeDeductionAmount_{{$index}}.$error.required) || (form.chargeDeductionAmount_{{$index}}.$error.required && formValidate)">
                                        <span class="form-info" >抵扣金额不能为空</span>
                                    </p>
                                </td>
                                <td>
                                    <input limit-number="10" type="number" name="receiptAmount_{{$index}}" placeholder="实收金额" class="form-control m-b-xs" ng-model="a.receiptAmount" ng-change="setInputVal(a)" required>
                                    <p ng-show=" (form.receiptAmount_{{$index}}.$dirty && form.receiptAmount_{{$index}}.$error.required) || (form.receiptAmount_{{$index}}.$error.required && formValidate)">
                                        <span class="form-info" >实收金额不能为空</span>
                                    </p>
                                </td>
                                <td>
                                    <input type="text" name="receiptDate_{{$index}}" placeholder="到账日期" class="form-control m-b-xs" ng-model="a.receiptDate" ng-required="a.receiptAmount>0 && contReceiptPayVo.insuranceStatus=='1'"
                                           date-picker>
                                    <p ng-show=" (form.receiptDate_{{$index}}.$dirty && form.receiptDate_{{$index}}.$error.required) || (form.receiptDate_{{$index}}.$error.required && formValidate)">
                                        <span class="form-info" >到账日期不能为空</span>
                                    </p>
                                </td>
                                <td>
                                    <input limit-word="255" type="text" name="memoReceipt_{{$index}}" placeholder="备注" class="form-control m-b-xs" ng-model="a.memoReceipt" >
                                </td>
                                <td>
                                    <input type="text" title="{{a.recAccBranch}}" name="recAccBranch_{{$index}}" placeholder="收款银行分行" class="form-control m-b-xs" ng-model="a.recAccBranch" disabled ng-required="a.receiptAmount>0 && contReceiptPayVo.insuranceStatus=='1'">
                                    <p ng-show=" (form.recAccBranch_{{$index}}.$dirty && form.recAccBranch_{{$index}}.$error.required) || (form.recAccBranch_{{$index}}.$error.required && formValidate)">
                                        <span class="form-info" >请选择收款银行分行</span>
                                    </p>
                                </td>
                                <td>
                                    <input type="text" title="{{a.recAccountName}}" name="recAccountName_{{$index}}" placeholder="收款户名" class="form-control m-b-xs" ng-model="a.recAccountName" disabled>
                                    <p ng-show=" (form.recAccountName_{{$index}}.$dirty && form.recAccountName_{{$index}}.$error.required) || (form.recAccountName_{{$index}}.$error.required && formValidate)">
                                        <span class="form-info" >收款户名</span>
                                    </p>
                                </td>
                                <td>
                                    <input type="text" title="{{a.recAccountNo}}" name="recAccountNo_{{$index}}" placeholder="收款账号" class="form-control m-b-xs" ng-model="a.recAccountNo" disabled>
                                    <p ng-show=" (form.recAccountNo_{{$index}}.$dirty && form.recAccountNo_{{$index}}.$error.required) || (form.recAccountNo_{{$index}}.$error.required && formValidate)">
                                        <span class="form-info" >收款账号</span>
                                    </p>
                                </td>

                                <!--<td>
                                    <input limit-word type="text" name="memo_{{$index}}" placeholder="备注" class="form-control m-b-xs" ng-model="a.memo" >
                                </td>-->
                                <td>
                                    <a class="a1" ng-click="selectBasBankInfo(a)">选择收款银行</a>
                                    <!--<a class="a1" ng-click="del($index)">删除</a>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <!--<li style="font-weight: bold;font-size: 14px;">收款明细信息</li>
                <table border="1" class="table table-striped m-b-none" id="cont_receipt_table"> </table>-->
                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">是否收首期租金</b><b class="form-error">*</b>:</label>
                    <div class="col-sm-2">
                        <select name="chargeFirstRent" ng-model="contReceiptPayVo.chargeFirstRent" ng-change="changeFirstRent();"
                                ng-options="a.codeValue as a.codeValueName for a in 'yesNoFlag' | getList" class="form-control m-b-xs" required>
                        </select>
                    </div>

                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">应收总金额</b><b class="form-error"></b>:</label>
                    <div class="col-sm-2">
                        <input type="text" name="totalAmount" class="form-control m-b-xs" ng-model="contReceiptPayVo.totalAmount" disabled>
                    </div>

                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">实收总金额</b><b
                            class="form-error"></b>:</label>
                    <div class="col-sm-2">
                        <input type="text" name="totalActualAmount" class="form-control m-b-xs" ng-model="contReceiptPayVo.totalActualAmount" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">审批操作</b><b
                            class="form-error">*</b>:</label>
                    <div class="col-sm-2">
                        <div class="radio" ng-repeat="contRequestPayActTypeObj in contRequestPayActTypeList">
                            <label>
                                <input type="radio" name="insuranceStatus" ng-model="contReceiptPayVo.insuranceStatus"  ng-value="contRequestPayActTypeObj.codeValue">
                                {{contRequestPayActTypeObj.codeValueName}}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="row">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">备注</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-6">
                            <textarea limit-word type="text" name="memo" placeholder="备注" class="form-control m-b-xs" ng-model="contReceiptPayVo.memo" required></textarea>
                            <p>
                                <span class="form-info" ng-show=" (form.memo.$dirty && form.memo.$error.required) || (form.memo.$error.required && formValidate)">备注不能为空</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div ng-include="'tpl/common/process_log/process_log_list.html'"></div>

            </div>
        </div>
    </form>
</ul>


