
<div  ng-controller="guarantee_info_controller">
    <ul type="none" style="padding-left: 20px;">
        <div class="row">
            <div class="col-lg-12">
                <form class="form-inline" role="form">
                    <div class="pull-right m-b-xs">
                            <button type="button" class="btn btn-success btn-sm" ng-click="saveGuaranteePers()"><i class="fa fa-plus m-r-xs"></i>添加担保人</button>
                            <button type="button" class="btn btn-success btn-sm" ng-click="saveGuaranteeComp()"><i class="fa fa-plus m-r-xs"></i>添加担保企业</button>
                    </div>
                </form>
            </div>
        </div>
        <table id="guarantee_info_table" border="1" class="table table-striped m-b-none" width="100%">
        </table>
        </ul>
</div>