
<div  ng-controller="guarantee_info_detail_controller">
    <ul type="none" style="padding-left: 20px;">
        <div class="row">
            <div class="col-lg-12">
                <form class="form-inline" role="form">
                    <div class="form-group pull-right">
                        <div class="btn-group">
                           </div>
                    </div>
                </form>
            </div>
        </div>
        <table id="guarantee_info_table" border="1" class="table table-striped m-b-none" width="100%">
        </table>
            <!--<table id="guarantee_info_table" border="1" class="table m-b-none dataTable no-footer" role="grid" style="margin-left: 0px;">-->
                <!--<thead>-->
                <!--<tr role="row">-->
                    <!--<th class="sorting_disabled" rowspan="1" colspan="1">申请编号</th>-->
                    <!--<th class="sorting_disabled" rowspan="1" colspan="1">担保类型</th>-->
                    <!--<th class="sorting_disabled" rowspan="1" colspan="1">担保人(企业)名称</th>-->
                    <!--<th class="sorting_disabled" rowspan="1" colspan="1">担保关系</th>-->
                    <!--<th class="sorting_disabled" rowspan="1" colspan="1">证件号码</th>-->
                    <!--<th class="sorting_disabled" rowspan="1" colspan="1">证件类型</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr role="row" ng-repeat="guarantee in guaranteePersList ">-->
                    <!--<td>{{guarantee.applyNo}}</td>-->
                    <!--<td>个人</td>-->
                    <!--<td>{{guarantee.name}}</td>-->
                    <!--<td>{{guarantee.relation}}</td>-->
                    <!--<td>{{guarantee.certifNo}}</td>-->
                    <!--<td>{{guarantee.certifType}}</td>-->
                <!--</tr>-->
                <!--<tr role="row" ng-repeat="guarantee in guaranteeCompList ">-->
                    <!--<td>{{guarantee.applyNo}}</td>-->
                    <!--<td>企业</td>-->
                    <!--<td>{{guarantee.name}}</td>-->
                    <!--<td>{{guarantee.relation}}</td>-->
                    <!--<td>{{guarantee.certifNo}}</td>-->
                    <!--<td>{{guarantee.certifType}}</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
    </ul>
</div>