<div class="modal-header">
    <h4 class="modal-title">出租人<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button></h4>
</div>
<div ng-init="init()">
    <div class="panel-body">
        <div class="panel-body wrapper-sm">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="sr-only" >机构代码</label>
                                <input class="form-control m-b-xs" ng-model="groupCode" placeholder="机构代码">
                            </div>
                            <label class="sr-only" >机构名称</label>
                            <input class="form-control m-b-xs" ng-model="groupName" placeholder="机构名称">
                        </div>

                        <div class="form-group m-b-sm">
                            <div class="btn-group">
                                <button class="btn btn-default m-b-xs btn-info" ng-click="searchSysGroup()" ><i class="fa fa-search"></i>查询</button>
                                <button class="btn btn-default m-b-xs" ng-click="resetSysGroup()" ><i class="fa  icon-refresh"></i>重置</button>
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <div class="btn-group">
                                <button class="btn btn-default m-b-xs" ng-click="exportExcel()">导出excel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="border: 0">
            <table border="1" class="table table-striped m-b-none" id="sys_group_list_select_table"></table>
        </div>
    </div>
</div>
<div class="modal-footer ng-scope">
    <div class="text-center">
        <button class="btn btn-default" ng-click="close()">关闭</button>
        <button class="btn btn-success m-b-xs" ng-click="confirm('select')">确认</button>
    </div>
</div>