<style>
    #equ_mor_detail_table_wrapper .row{
        display: none;
    }l
</style>
<div  ng-controller="equ_mor_detail_apply_controller">
    <div>
        <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    </div>
    <div class="panel panel-default">
        <div class="row" style="margin: 0; padding: 10px; border: 1px solid #dddddd">
            <div class="form-inline">
                <div class="form-group">
                    <h5 >资方解押申请提交</h5>
                </div>
            <div class="form-group pull-right">
                <div class="btn-group">
                    <button type="submit" class="btn btn-success btn-sm fms-button-margin-bottom" ng-disabled="submit" ng-click="save()">提交申请</button>
                    <button class="btn btn-default btn-sm fms-button-margin-bottom" ng-click="goback()">返回</button>
                </div>
            </div>
                </div>
        </div>
                    <form name="form" class="form-validation" novalidate>
                        <table border="1" class="table table-striped m-b-none" id="equ_mor_detail_table" style="padding: 0px">
                        </table>

                        <div class="panel-body">
                        <div class="form-group row" >
                            <label class="col-sm-2 control-label text-right"><b class="form-text-black">差额合计(元)</b><b class="form-error">*</b>:</label>
                            <div class="col-sm-2">
                                <input type="text" title="{{equMorDetail.differenceCount}}" name="DifferenceCount"  class="form-control m-b-xs" ng-model="equMorDetail.differenceCount"  required disabled>
                                <p>
                                    <span class="form-info" ng-show=" (form.DifferenceCount.$dirty && form.DifferenceCount.$error.required) || (form.DifferenceCount.$error.required && formValidate)">差额合计不能为空</span>
                                </p>
                            </div>
                        </div>

                        <div class="from-group row" ng-if="flag==false">
                                <div class="btn-group pull-left col-sm-4">
                                    <div class="col-sm-6" style="margin-left: 4%;">
                                        <button class="btn btn-info m-b-xs m-l-sm  btn-sm" ng-click="selectBasBankInfo()"><i class="fa fa-pencil-square-o m-r-xs"></i>选择收款银行分行</button>
                                    </div>
                                </div>
                        </div>
                        <div class="from-group row" ng-if="flag==false">

                                <label class="col-sm-2 control-label text-right"><b class="form-text-black">收款银行分行</b><b class="form-error">*</b>:</label>
                                <!--<div class="col-sm-2">
                                    <input type="text" name="openingBank" placeholder="收款银行" class="form-control m-b-xs" ng-model="equMorDetail.openingBank" required disabled>
                                    <p>
                                        <span class="form-info" ng-show=" (form.openingBank.$dirty && form.openingBank.$error.required) || (form.openingBank.$error.required && formValidate)">收款银行不能为空</span>
                                    </p>
                                </div>-->
                                <div class="col-sm-2">
                                    <input type="text" title="{{equMorDetail.recAccBranch}}" name="recAccBranch" placeholder="收款银行分行" class="form-control m-b-xs" ng-model="equMorDetail.recAccBranch" required disabled>
                                    <p>
                                        <span class="form-info" ng-show=" (form.recAccBranch.$dirty && form.recAccBranch.$error.required) || (form.recAccBranch.$error.required && formValidate)">收款银行分行不能为空</span>
                                    </p>
                                </div>
                                <label class="col-sm-2 control-label text-right"><b class="form-text-black">收款户名</b><b class="form-error">*</b>:</label>
                                <div class="col-sm-2">
                                    <input type="text" title="{{equMorDetail.accountName}}" name="accountName" placeholder="收款户名" class="form-control m-b-xs" ng-model="equMorDetail.accountName" required disabled>
                                    <p>
                                        <span class="form-info" ng-show=" (form.accountName.$dirty && form.accountName.$error.required) || (form.accountName.$error.required && formValidate)">收款户名不能为空</span>
                                    </p>
                                </div>
                                <label class="col-sm-2 control-label text-right"><b class="form-text-black">收款账号</b><b class="form-error">*</b>:</label>
                                <div class="col-sm-2">
                                    <input type="text" title="{{equMorDetail.accountNo}}" name="accountNo" placeholder="收款账号" class="form-control m-b-xs" ng-model="equMorDetail.accountNo" required disabled>
                                    <p>
                                        <span class="form-info" ng-show=" (form.accountNo.$dirty && form.accountNo.$error.required) || (form.accountNo.$error.required && formValidate)">收款账号不能为空</span>
                                    </p>
                                </div>
                                <label class="col-sm-2 control-label text-right"><b class="form-text-black">联行号</b>:</label>
                                <div class="col-sm-2">
                                    <input type="text" title="{{equMorDetail.bankCode}}" name="bankCode" placeholder="联行号" class="form-control m-b-xs" ng-model="equMorDetail.bankCode" disabled>
                                    <p>
                                        <!--<span class="form-info" ng-show=" (form.bankCode.$dirty && form.bankCode.$error.required) || (form.bankCode.$error.required && formValidate)">联行号不能为空</span>-->
                                    </p>
                                </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-right"><b class="form-text-black">备注</b><b class="form-error">*</b>:</label>
                            <div class="col-sm-10">
                                <textarea limit-word cols="100" maxlength="200" rows="5" name="remark1" ng-model="equMorDetail.remark1" required></textarea>
                                <p>
                                    <span class="form-info" ng-show=" (form.remark1.$dirty && form.remark1.$error.required) || (form.remark1.$error.required && formValidate)">请输入备注</span>
                                </p>
                            </div>
                        </div>
                        <li style="font-weight: bold;font-size: 16px;">附件上传</li>
                        <!--<div ng-include="'tpl/common/tree_file/tree_file.html'"></div>-->
                            <tree-file-directive detail-flag="$root.yesNoFlag.no" file-type="$root.basFileTypes.mortgageRelFile" files="equMorDetail.bizFilesVoList" not-upload="equMorDetail.notUpload" not-upload-info = "equMorDetail.notUploadInfo" not-file-type="equMorDetail.notFileType" not-file-type-name="equMorDetail.notFileTypeName" >
                            </tree-file-directive>
                            </div>
                    </form>
        <!--<div ng-include="'tpl/common/process_log/process_log_list.html'"></div>-->
        <process-log-list-directive wf-log-type="wfLogType" wf-log-no="wfLogNo"></process-log-list-directive>
    </div>
    </div>