<div  ng-controller="crm_person_list_controller">
    <div>
        <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    </div>
    <div class="panel panel-default">
        <div class="panel-body wrapper-sm">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="" >客户类型：</label>
                            <select ng-model="customerType" class="form-control m-b-xs">
                                <option value="1">个人</option>
                                <option value="2">企业</option>
                            </select>
                        </div>
                        <div class="form-group" ng-if="customerType == 1">
                            <input class="form-control m-b-xs" ng-model="$parent.name" placeholder="请输入客户姓名">
                        </div>
                        <div class="form-group" ng-if="customerType == 1">
                            <input class="form-control m-b-xs" ng-model="$parent.certifNo" placeholder="请输入证件号码">
                        </div>
                        <div class="form-group" ng-if="customerType == 2">
                            <input class="form-control m-b-xs" ng-model="$parent.name" placeholder="请输入企业名称">
                        </div>
                        <div class="form-group" ng-if="customerType == 2">
                            <input class="form-control m-b-xs" ng-model="$parent.socialCertifNo" placeholder="请输入社会统一信用代码">
                        </div>

                        <div class="form-group m-b-sm">
                            <div class="btn-group">
                                <button class="btn btn-default m-b-xs btn-info btn-sm fms-button-margin-bottom" ng-click="searchCstmCompany()" ><i class="fa fa-search"></i>查询</button>
                                <button class="btn btn-default m-b-xs btn-sm fms-button-margin-bottom" ng-click="resetCstmCompany()" ><i class="fa  icon-refresh"></i>重置</button>
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <div class="btn-group">
                                <button class="btn btn-default m-b-xs btn-sm fms-button-margin-bottom" ng-click="inputEnterprise()"><i class="fa fa-plus"></i>录入企业客户</button>
                                <button class="btn btn-default m-b-xs btn-sm fms-button-margin-bottom" ng-click="inputPersonal()"><i class="fa fa-plus"></i>录入个人客户</button>
                                <button class="btn btn-default m-b-xs btn-sm fms-button-margin-bottom" ng-click="modify()"><i class="fa icon-pencil"></i>修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <table border="1" class="table table-striped m-b-none" id="crm_person_table"></table>
        <table border="1" class="table table-striped m-b-none" id="crm_company_table"></table>
    </div>
</div>

