<div ng-controller="crm_person_modify_controller">
    <form name="form" class="form-validation" novalidate>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group pull-right">
                        <div class="btn-group ">
                            <button ng-show="!personId" class="btn btn-success m-t-xs m-r-xs" ng-click="save(1)" ng-disabled="submit">提交</button>
                            <button ng-show="personId" class="btn btn-success m-t-xs m-r-xs" ng-click="save(2)" ng-disabled="submit">修改</button>
                            <button class="btn btn-default m-t-xs" ng-click="goBack()">返回</button>
                        </div>
                    </div>
                </div>
                <div class="row line-lg" style="font-weight: bold;font-size: 14px;">
                    <div class="col-sm-12">个人基本信息</div>
                </div>
                <div style="margin: 5px; padding-right: 50px;">
                    <div class="row">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">客户姓名</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <input type="text" name="perName" placeholder="请输入姓名" class="form-control m-b-xs" ng-model="crmPerson.name"  required>
                            <p>
                                <span class="form-info" ng-show=" (form.perName.$dirty && form.perName.$error.required) || (form.perName.$error.required && formValidate)">姓名不能为空</span>
                            </p>
                        </div>

                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">证件类型</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="perCertifType"  ng-model="crmPerson.certifType" ng-change="vali()" class="form-control m-b-xs"  required>
                                <option value="">---请选择---</option>
                                <option ng-repeat="certifType in certifTypeList" value="{{certifType.codeValue}}">{{certifType.codeValueName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.perCertifType.$dirty && form.perCertifType.$error.required) || (form.perCertifType.$error.required && formValidate)">证件类型不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">证件号码</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <input id="persCertiNo" type="text" name="perCertifNo" placeholder="请输入证件号码" class="form-control m-b-xs" ng-model="crmPerson.certifNo" ng-change="changeCertifNo();" ng-pattern="persCertiNo" required />
                            <p>
                                <span class="form-info" ng-show=" (form.perCertifNo.$dirty && form.perCertifNo.$error.required) || (form.perCertifNo.$error.required && formValidate)">证件号不能为空</span>
                                <span class="form-info" ng-show=" (form.perCertifNo.$error.pattern && !form.perCertifNo.$error.required) || (form.perCertifNo.$error.pattern && formValidate && !form.perCertifNo.$error.required)">请输入合法的证件号</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">性别</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="perSex" ng-model="crmPerson.sex" ng-options="a.codeValue as a.codeValueName for a in genderList" class="form-control m-b-xs" required>
                                <option value="">---请选择---</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.perSex.$dirty && form.perSex.$error.required) || (form.perSex.$error.required && formValidate)">性别不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">出生日期</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <input type="text" date-picker onchange="" name="birthDate" placeholder="请输入出生日期" class="form-control m-b-xs" ng-model="crmPerson.birthDate"  required>
                            <p>
                                <span class="form-info" ng-show=" (form.birthDate.$dirty && form.birthDate.$error.required) || (form.birthDate.$error.required && formValidate)">出生日期不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">生肖</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="chineseZodiac" class="form-control m-b-xs" ng-model="crmPerson.chineseZodiac" required>
                                <option value="">---请选择---</option>
                                <option ng-repeat="a in chineseZodiacList" value="{{a.codeValue}}">{{a.codeValueName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.chineseZodiac.$dirty && form.chineseZodiac.$error.required) || (form.chineseZodiac.$error.required && formValidate)">生肖不能为空</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">婚姻状况</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="perMarriageStatus" ng-model="crmPerson.marriageStatus" ng-change="marriageChange();" class="form-control m-b-xs" required>
                                <option value="">---请选择---</option>
                                <option ng-repeat="status in marriageStatusList" value="{{status.codeValue}}">{{status.codeValueName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.perMarriageStatus.$dirty && form.perMarriageStatus.$error.required) || (form.perMarriageStatus.$error.required && formValidate)">婚姻状况不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">户口类别</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="perCensusType" ng-model="crmPerson.censusType" class="form-control m-b-xs" required>
                                <option value="">---请选择---</option>
                                <option ng-repeat="censusType in censusTypeList" value="{{censusType.codeValue}}">{{censusType.codeValueName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.perCensusType.$dirty && form.perCensusType.$error.required) || (form.perCensusType.$error.required && formValidate)">户口类别不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">客户学历</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="perEduBgType" ng-model="crmPerson.eduBgType" class="form-control m-b-xs" required>
                                <option value="">---请选择---</option>
                                <option ng-repeat="eduBgType in eduBgTypeList" value="{{eduBgType.codeValue}}">{{eduBgType.codeValueName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.perEduBgType.$dirty && form.perEduBgType.$error.required) || (form.perEduBgType.$error.required && formValidate)">客户学历不能为空</span>
                            </p>
                        </div>

                    </div>
                    <div class="row">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">手机号码</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <input type="text" name="perMobileNo" placeholder="请输入手机号码" class="form-control m-b-xs" ng-model="crmPerson.mobileNo" ng-pattern="/^1[345789]\d{9}$/" required >
                            <p>
                                <span class="form-info" ng-show=" (form.perMobileNo.$dirty && form.perMobileNo.$error.required) || (form.perMobileNo.$error.required && formValidate)">手机号不能为空</span>
                                <span class="form-info" ng-show=" (form.perMobileNo.$error.pattern && !form.perMobileNo.$error.required) || (form.perMobileNo.$error.pattern && formValidate && !form.perMobileNo.$error.required)">请输入正确的手机号</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">电话号码</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <input type="text" name="telNo" placeholder="请输入电话号码" class="form-control m-b-xs" ng-model="crmPerson.telNo" ng-pattern="/^0\d{2,3}-\d{7,8}$/"  required >
                            <p>
                                <span class="form-info" ng-show=" (form.telNo.$dirty && form.telNo.$error.required) || (form.telNo.$error.required && formValidate)">电话号码不能为空</span>
                                <span class="form-info" ng-show=" (form.telNo.$dirty && form.telNo.$error.pattern) || (form.telNo.$error.pattern && formValidate)">请输入正确的电话号码</span>

                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">QQ号</b>:</label>
                        <div class="col-sm-2">
                            <input type="text" name="qqNo" placeholder="请输入QQ号" class="form-control m-b-xs" ng-model="crmPerson.qqNo"  >

                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">微信号</b>:</label>
                        <div class="col-sm-2">
                            <input type="text" name="wechatNo" placeholder="请输入微信号" class="form-control m-b-xs" ng-model="crmPerson.wechatNo">
                            <p>
                                <!--<span class="form-info" ng-show=" (form.wechatNo.$dirty && form.wechatNo.$error.required) || (form.wechatNo.$error.required && formValidate)">微信号不能为空</span>-->
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">E-mail</b>:</label>
                        <div class="col-sm-2">
                            <input type="text" name="mail" placeholder="请输入E-mail" class="form-control m-b-xs" ng-model="crmPerson.mail"  ng-pattern="/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/">
                            <p>
                                <!--<span class="form-info" ng-show=" (form.mail.$dirty && form.mail.$error.required) || (form.mail.$error.required && formValidate)">E-mail不能为空</span>-->
                                <span class="form-info" ng-show=" (form.mail.$error.pattern && !form.mail.$error.required) || (form.mail.$error.pattern && formValidate && !form.mail.$error.required)">请输入正确的E-mail</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">民族</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="perEthnicType" ng-model="crmPerson.ethnicType" class="form-control m-b-xs" required>
                                <option value="">---请选择---</option>
                                <option ng-repeat="ethnicType in ethnicTypeList" value="{{ethnicType.codeValue}}">{{ethnicType.codeValueName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.perEthnicType.$dirty && form.perEthnicType.$error.required) || (form.perEthnicType.$error.required && formValidate)">民族不能为空</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">档案编号</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <input type="text" name="perLicenseNo" placeholder="请输入档案编号" class="form-control m-b-xs" ng-model="crmPerson.licenseNo" ng-pattern="/(^\d{12}$)/"  required >
                            <p>
                                <span class="form-info" ng-show=" (form.perLicenseNo.$dirty && form.perLicenseNo.$error.required) || (form.perLicenseNo.$error.required && formValidate)">档案编号不能为空</span>
                                <span class="form-info" ng-show=" (form.perLicenseNo.$dirty && form.perLicenseNo.$error.pattern) || (form.perLicenseNo.$error.pattern && formValidate)">请输入正确的档案编号</span>

                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">房产评估值</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <input type="number" limit-number="6" name="propertyValue" placeholder="请输入房产评估值" class="form-control m-b-xs" ng-model="crmPerson.propertyValue" ng-pattern="/^[0-9a-zA_Z]+$/" required >
                            <p>
                                <span class="form-info" ng-show=" (form.propertyValue.$dirty && form.propertyValue.$error.required) || (form.propertyValue.$error.required && formValidate)">房产评估值不能为空</span>
                                <span class="form-info" ng-show=" (form.propertyValue.$error.pattern && !form.propertyValue.$error.required) || (form.propertyValue.$error.pattern && certifNo && !form.propertyValue.$error.required)">请输入合法的格式</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">客户描述</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <input type="text" name="sourceIncomeDes" placeholder="请输入客户描述" class="form-control m-b-xs" ng-model="crmPerson.sourceIncomeDes"  required >
                            <p>
                                <span class="form-info" ng-show=" (form.sourceIncomeDes.$dirty && form.sourceIncomeDes.$error.required) || (form.sourceIncomeDes.$error.required && formValidate)">客户描述不能为空</span>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">初次领证日期</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <input type="text" name="firstIssueDate" placeholder="请输入初次领证日期" class="form-control m-b-xs" ng-model="crmPerson.firstIssueDate" date-picker required >
                            <p>
                                <span class="form-info" ng-show=" (form.firstIssueDate.$dirty && form.firstIssueDate.$error.required) || (form.firstIssueDate.$error.required && formValidate)">初次领证日期不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">房产建筑面积(m²)</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <input type="text" name="propertySize" placeholder="请输入房产建筑面积" class="form-control m-b-xs" ng-model="crmPerson.propertySize"  required >
                            <p>
                                <span class="form-info" ng-show=" (form.propertySize.$dirty && form.propertySize.$error.required) || (form.propertySize.$error.required && formValidate)">房产建筑面积不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">房产购买时间</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <input type="text" name="propertyGetDate" placeholder="请输入房产购买时间" class="form-control m-b-xs" ng-model="crmPerson.propertyGetDate" date-picker required >
                            <p>
                                <span class="form-info" ng-show=" (form.propertyGetDate.$dirty && form.propertyGetDate.$error.required) || (form.propertyGetDate.$error.required && formValidate)">房产购买时间不能为空</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">准驾车型</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="quasiDriveModel"  ng-model="crmPerson.quasiDriveModel" ng-options="a.codeValue as a.codeValueName for a in 'quasiDriveModel'|getList" class="form-control m-b-xs"  required>
                                <option value="">---请选择---</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.quasiDriveModel.$dirty && form.quasiDriveModel.$error.required) || (form.quasiDriveModel.$error.required && formValidate)">准驾车型不能为空</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row line-lg" style="font-weight: bold;font-size: 14px;">
                    <div class="col-sm-12">职业信息</div>
                </div>
                <div style="margin: 5px; padding-right: 50px;">
                    <div class="row">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">单位名称</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <input type="text" name="jobCompName" placeholder="请输入单位名称" class="form-control m-b-xs" ng-model="crmPerson.compName"  required >
                            <p>
                                <span class="form-info" ng-show=" (form.jobCompName.$dirty && form.jobCompName.$error.required) || (form.jobCompName.$error.required && formValidate)">单位名称不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">单位行业类别</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="jobIndustry" ng-model="crmPerson.industry" class="form-control m-b-xs" required>
                                <option value="">---请选择---</option>
                                <option ng-repeat="industry in industryTypeList" value="{{industry.codeValue}}">{{industry.codeValueName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.jobIndustry.$dirty && form.jobIndustry.$error.required) || (form.jobIndustry.$error.required && formValidate)">单位所属行业类别不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">单位电话</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <input type="text" name="jobCompTel" placeholder="请输入单位电话" class="form-control m-b-xs" ng-model="crmPerson.compTel" ng-pattern="/^0\d{2,3}-\d{7,8}$/"  required >
                            <p>
                                <span class="form-info" ng-show=" (form.jobCompTel.$dirty && form.jobCompTel.$error.required) || (form.jobCompTel.$error.required && formValidate)">单位电话不能为空</span>
                                <span class="form-info" ng-show=" (form.jobCompTel.$dirty && form.jobCompTel.$error.pattern) || (form.jobCompTel.$error.pattern && formValidate)">请输入正确的电话号码</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">在职年限</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <input type="text" name="workYear" placeholder="请输入在职年限" class="form-control m-b-xs" ng-model="crmPerson.workYear" ng-pattern="/(^\d{1,2}$)/" required >
                            <p>
                                <span class="form-info" ng-show=" (form.workYear.$dirty && form.workYear.$error.required) || (form.workYear.$error.required && formValidate)">在职年限不能为空</span>
                                <span class="form-info" ng-show=" (form.workYear.$dirty && form.workYear.$error.pattern) || (form.workYear.$error.pattern && formValidate)">请输入正确的数字</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">职业</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="jobProfession" ng-model="crmPerson.profession" class="form-control m-b-xs" required>
                                <option value="">---请选择---</option>
                                <option ng-repeat="profession in professionTypeList" value="{{profession.codeValue}}">{{profession.codeValueName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.jobProfession.$dirty && form.jobProfession.$error.required) || (form.jobProfession.$error.required && formValidate)">职业不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">职位</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="jobPosition" ng-model="crmPerson.position" class="form-control m-b-xs" required>
                                <option value="">---请选择---</option>
                                <option ng-repeat="position in positionTypeList" value="{{position.codeValue}}">{{position.codeValueName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.jobPosition.$dirty && form.jobPosition.$error.required) || (form.jobPosition.$error.required && formValidate)">职位不能为空</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">单位所在省份</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="jobCompProv"  ng-model="crmPerson.compProv" class="form-control m-b-xs" ng-change="changeCountryJob()" required>
                                <option value="">---请选择---</option>
                                <option value="{{provinceObj.areaCode}}" ng-repeat="provinceObj in provinceListJob">{{provinceObj.areaName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.jobCompProv.$dirty && form.jobCompProv.$error.required) || (form.jobCompProv.$error.required && formValidate)">单位所在省份不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">单位所在城市</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="jobCompCity" ng-model="crmPerson.compCity" class="form-control m-b-xs" ng-change="changeCityJob()" required>
                                <option value="">---请选择---</option>
                                <option value="{{cityObj.areaCode}}" ng-selected="cityObj.areaCode==crmPerson.compCity?1:0" ng-repeat="cityObj in cityListJob[crmPerson.compProv]">{{cityObj.areaName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.jobCompCity.$dirty && form.jobCompCity.$error.required) || (form.jobCompCity.$error.required && formValidate)">单位所在城市不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">单位所在区县</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="jobCompCounty"  ng-model="crmPerson.compCounty" class="form-control m-b-xs" required>
                                <option value="" >---请选择---</option>
                                <option value="{{areaObj.areaCode}}" ng-selected="areaObj.areaCode==crmPerson.compCounty?1:0" ng-repeat="areaObj in areaListJob[crmPerson.compCity]">{{areaObj.areaName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.jobCompCounty.$dirty && form.jobCompCounty.$error.required) || (form.jobCompCounty.$error.required && formValidate)">单位所在区县不能为空</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">税后年薪(万元)</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <input type="number" limit-number="4" name="jobSalary" placeholder="请输入税后年薪" class="form-control m-b-xs" ng-model="crmPerson.salary" ng-pattern="/^[1-9]\d*\,\d*|[1-9]\d*$/"  required >
                            <p>
                                <span class="form-info" ng-show=" (form.jobSalary.$dirty && form.jobSalary.$error.required) || (form.jobSalary.$error.required && formValidate)">税后年薪不能为空</span>
                                <span class="form-info" ng-show=" (form.jobSalary.$error.pattern && !form.jobSalary.$error.required) || (form.jobSalary.$error.pattern && formValidate && !form.jobSalary.$error.required)">请输入合法的数值</span>
                            </p>
                        </div>
                        <div class="col-sm-4"></div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">其他收入(万元)</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <input type="number" limit-number="4" name="elseSalary" placeholder="请输入其他收入" class="form-control m-b-xs" ng-model="crmPerson.elseSalary" ng-pattern="/^[0-9]+([.]{1}[0-9]+){0,1}$/"  required >
                            <p>
                                <span class="form-info" ng-show=" (form.elseSalary.$dirty && form.elseSalary.$error.required) || (form.elseSalary.$error.required && formValidate)">其他收入不能为空</span>
                                <span class="form-info" ng-show=" (form.elseSalary.$error.pattern && !form.elseSalary.$error.required) || (form.elseSalary.$error.pattern && formValidate && !form.elseSalary.$error.required)">请输入合法的数值</span>
                            </p>
                        </div>
                    </div>
                    <div class="row" id="jobComAddr">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">单位详细地址</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-10">
                            <input type="text" name="compAddr" placeholder="请输入单位详细地址" class="form-control m-b-xs" ng-model="crmPerson.compAddr"  required >
                            <p>
                                <span class="form-info" ng-show=" (form.compAddr.$dirty && form.compAddr.$error.required) || (form.compAddr.$error.required && formValidate)">单位详细地址不能为空</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div ng-if="crmPerson.marriageStatus !=2 && crmPerson.marriageStatus !=3 && crmPerson.marriageStatus !=4" class="row line-lg" style="font-weight: bold;font-size: 14px;">
                    <div class="col-sm-12">配偶信息</div>
                </div>
                <div ng-if="crmPerson.marriageStatus !=2 && crmPerson.marriageStatus !=3 && crmPerson.marriageStatus !=4" style="margin: 5px; padding-right: 50px;" >
                    <div class="row">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">配偶姓名</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <input type="text" name="mateName" placeholder="请输入配偶姓名" class="form-control m-b-xs" ng-model="crmPerson.mateName"  required >
                            <p>
                                <span class="form-info" ng-show=" (form.mateName.$dirty && form.mateName.$error.required) || (form.mateName.$error.required && formValidate)">配偶姓名不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">证件类型</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="mateCertifType" ng-model="crmPerson.mateCertifType" ng-change="mateValidate()" class="form-control m-b-xs" required>
                                <option value="">---请选择---</option>
                                <option ng-repeat="certifType in certifTypeList" value="{{certifType.codeValue}}">{{certifType.codeValueName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.mateCertifType.$dirty && form.mateCertifType.$error.required) || (form.mateCertifType.$error.required && formValidate)">证件类型不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">证件号</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <input type="text" id="mateCertiNo" name="mateCertifNo" placeholder="请输入证件号" ng-focus="mateValidate()"  class="form-control m-b-xs" ng-model="crmPerson.mateCertifNo" ng-pattern="mateCertiNo" required >
                            <p>
                                <span class="form-info" ng-show=" (form.mateCertifNo.$dirty && form.mateCertifNo.$error.required) || (form.mateCertifNo.$error.required && formValidate)">证件号不能为空</span>
                                <span class="form-info" ng-show=" (form.mateCertifNo.$error.pattern && !form.mateCertifNo.$error.required) || (form.mateCertifNo.$error.pattern && formValidate && !form.mateCertifNo.$error.required)">请输入合法的证件号</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row line-lg" style="font-weight: bold;font-size: 14px;">
                    <div class="col-sm-12">地址信息</div>
                </div>
                <div class="row" style="margin: 5px; padding-right: 50px;">
                    <div class="row">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">居住状况</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="addrResideCond" ng-model="crmPerson.resideCond" class="form-control m-b-xs" required>
                                <option value="">---请选择---</option>
                                <option ng-repeat="resideCond in resideCondList" value="{{resideCond.codeValue}}">{{resideCond.codeValueName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.addrResideCond.$dirty && form.addrResideCond.$error.required) || (form.addrResideCond.$error.required && formValidate)">居住状况不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">房产类型</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="addrPropertyType" ng-model="crmPerson.propertyType" class="form-control m-b-xs" required>
                                <option value="">---请选择---</option>
                                <option ng-repeat="propertyType in propertyTypeList" value="{{propertyType.codeValue}}">{{propertyType.codeValueName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.addrPropertyType.$dirty && form.addrPropertyType.$error.required) || (form.addrPropertyType.$error.required && formValidate)">房产类型不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">居住年份</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="addrResideYear" ng-model="crmPerson.resideYear" class="form-control m-b-xs" required>
                                <option value="">---请选择---</option>
                                <option ng-repeat="resideYear in resideYearList" value="{{resideYear.codeValue}}">{{resideYear.codeValueName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.addrResideYear.$dirty && form.addrResideYear.$error.required) || (form.addrResideYear.$error.required && formValidate)">居住年份不能为空</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">居住省份</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="addrResideProv"  ng-model="crmPerson.resideProv" class="form-control m-b-xs" ng-change="changeCountryAddr()" required>
                                <option value="">---请选择---</option>
                                <option value="{{provinceObj.areaCode}}" ng-repeat="provinceObj in provinceList">{{provinceObj.areaName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.addrResideProv.$dirty && form.addrResideProv.$error.required) || (form.addrResideProv.$error.required && formValidate)">居住省份不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">居住城市</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="addrResideCity" ng-model="crmPerson.resideCity" class="form-control m-b-xs" ng-change="changeCityAddr()" required>
                                <option value="">---请选择---</option>
                                <option value="{{cityObj.areaCode}}" ng-selected="cityObj.areaCode==crmPerson.resideCity?1:0" ng-repeat="cityObj in cityList[crmPerson.resideProv]">{{cityObj.areaName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.addrResideCity.$dirty && form.addrResideCity.$error.required) || (form.addrResideCity.$error.required && formValidate)">居住城市不能为空</span>
                            </p>
                        </div>

                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">居住区县</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="addrResideCounty"  ng-model="crmPerson.resideCounty" class="form-control m-b-xs" required>
                                <option value="" >---请选择---</option>
                                <option value="{{areaObj.areaCode}}" ng-selected="areaObj.areaCode==crmPerson.resideCounty?1:0" ng-repeat="areaObj in areaList[crmPerson.resideCity]">{{areaObj.areaName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.addrResideCounty.$dirty && form.addrResideCounty.$error.required) || (form.addrResideCounty.$error.required && formValidate)">居住区县不能为空</span>
                            </p>
                        </div>
                    </div>
                    <div class="row" id="resideAddr">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">居住详细地址</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-10">
                            <input type="text" name="resideAddr" placeholder="请输入居住详细地址" class="form-control m-b-xs" ng-model="crmPerson.resideAddr"  required >
                            <p>
                                <span class="form-info" ng-show=" (form.resideAddr.$dirty && form.resideAddr.$error.required) || (form.resideAddr.$error.required && formValidate)">居住详细地址不能为空</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">户籍省份</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="addrCensusProv"  ng-model="crmPerson.censusProv" class="form-control m-b-xs" ng-change="changeCountryCensus()" required>
                                <option value="">---请选择---</option>
                                <option value="{{provinceObj.areaCode}}" ng-repeat="provinceObj in provinceListCensus">{{provinceObj.areaName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.addrCensusProv.$dirty && form.addrCensusProv.$error.required) || (form.addrCensusProv.$error.required && formValidate)">户籍省份不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">户籍城市</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="addrCensusCity" ng-model="crmPerson.censusCity" class="form-control m-b-xs" ng-change="changeCityCensus()" required>
                                <option value="">---请选择---</option>
                                <option value="{{cityObj.areaCode}}" ng-selected="cityObj.areaCode==crmPerson.censusCity?1:0" ng-repeat="cityObj in cityListCensus[crmPerson.censusProv]">{{cityObj.areaName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.addrCensusCity.$dirty && form.addrCensusCity.$error.required) || (form.addrCensusCity.$error.required && formValidate)">户籍城市不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">户籍区县</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="addrCensusCounty"  ng-model="crmPerson.censusCounty" class="form-control m-b-xs" required>
                                <option value="" >---请选择---</option>
                                <option value="{{areaObj.areaCode}}" ng-selected="areaObj.areaCode==crmPerson.censusCounty?1:0" ng-repeat="areaObj in areaListCensus[crmPerson.censusCity]">{{areaObj.areaName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.addrCensusCounty.$dirty && form.addrCensusCounty.$error.required) || (form.addrCensusCounty.$error.required && formValidate)">户籍区县不能为空</span>
                            </p>
                        </div>
                    </div>
                    <div class="row" id="censusAddr">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">户籍详细地址</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-10">
                            <input type="text" name="censusAddr" placeholder="请输入户籍详细地址" class="form-control m-b-xs" ng-model="crmPerson.censusAddr"  required >
                            <p>
                                <span class="form-info" ng-show=" (form.censusAddr.$dirty && form.censusAddr.$error.required) || (form.censusAddr.$error.required && formValidate)">户籍详细地址不能为空</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">

                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">房产省份</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="addrPropertyProv"  ng-model="crmPerson.propertyProv" class="form-control m-b-xs" ng-change="changeCountryProperty()" required>
                                <option value="">---请选择---</option>
                                <option value="{{provinceObj.areaCode}}" ng-repeat="provinceObj in provinceListProperty">{{provinceObj.areaName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.addrPropertyProv.$dirty && form.addrPropertyProv.$error.required) || (form.addrPropertyProv.$error.required && formValidate)">房产省份不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">房产城市</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="addrPropertyCity" ng-model="crmPerson.propertyCity" class="form-control m-b-xs" ng-change="changeCityProperty()" required>
                                <option value="">---请选择---</option>
                                <option value="{{cityObj.areaCode}}" ng-selected="cityObj.areaCode==crmPerson.propertyCity?1:0" ng-repeat="cityObj in cityListProperty[crmPerson.propertyProv]">{{cityObj.areaName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.addrPropertyCity.$dirty && form.addrPropertyCity.$error.required) || (form.addrPropertyCity.$error.required && formValidate)">房产城市不能为空</span>
                            </p>
                        </div>
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">房产区县</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-2">
                            <select name="addrPropertyCounty"  ng-model="crmPerson.propertyCounty" class="form-control m-b-xs" required>
                                <option value="" >---请选择---</option>
                                <option value="{{areaObj.areaCode}}" ng-selected="areaObj.areaCode==crmPerson.propertyCounty?1:0" ng-repeat="areaObj in areaListProperty[crmPerson.propertyCity]">{{areaObj.areaName}}</option>
                            </select>
                            <p>
                                <span class="form-info" ng-show=" (form.addrPropertyCounty.$dirty && form.addrPropertyCounty.$error.required) || (form.addrPropertyCounty.$error.required && formValidate)">房产区县不能为空</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 control-label text-right"><b class="form-text-black">房产详细地址</b><b class="form-error">*</b>:</label>
                        <div class="col-sm-10">
                            <input type="text" name="propertyAddr" placeholder="请输入房产详细地址" class="form-control m-b-xs" ng-model="crmPerson.propertyAddr"  required >
                            <p>
                                <span class="form-info" ng-show=" (form.propertyAddr.$dirty && form.propertyAddr.$error.required) || (form.propertyAddr.$error.required && formValidate)">房产详细地址不能为空</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--
<div class="modal-footer ng-scope">
    <button class="btn btn-default" ng-click="close()">取消</button>
    <button type="submit" class="btn btn-success" ng-disabled="submit" ng-click="modify()">保存</button>
</div>-->
