<div class="modal-header">
    <h4 class="modal-title">逾期状态信息<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button></h4>
</div>
<div class="modal-body panel" ng-init="loadReady();">
    <table border="1" class="table table-striped m-b-none" id="overdue_state"></table>
</div>
<div class="modal-footer text-center">
    <button class="btn btn-default" ng-click="close()">取消</button>
    <button type="submit" class="btn btn-success" ng-disabled="submit" ng-click="save()">确定</button>
</div>
