<div class="modal-header">
    <h4 class="modal-title">当前逾期总额<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button></h4>
</div>
<div class="modal-body panel" ng-init="loadReady();">
    <table border="1" class="table table-striped m-b-none" id="overdue_sum"></table>
</div>
<!--
<div class="modal-footer text-center">
    <button class="btn btn-default" ng-click="close()">取消</button>
    <button type="submit" class="btn btn-success" ng-disabled="submit" ng-click="save()">新增</button>
</div>-->
