<div class="modal-header">
    <h4 class="modal-title">选择用户 <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button></h4>
</div>
<div ng-init="init()">
    <div class="panel-body">
        <div class="panel-body wrapper-sm">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" >用户账号 </label>
                            <input class="form-control m-b-xs" ng-model="user" placeholder="用户账号">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" >用户姓名</label>
                            <input class="form-control m-b-xs" ng-model="userName" placeholder="用户姓名">
                        </div>


                        <div class="form-group m-b-sm">
                            <div class="btn-group">
                                <button class="btn btn-default m-b-xs btn-info" ng-click="searchSysUser()" ><i class="fa fa-search"></i>查询</button>
                                <button class="btn btn-default m-b-xs" ng-click="resetSysUser()" ><i class="fa  icon-refresh"></i>重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="border: 0">
            <table border="1" class="table table-striped m-b-none" id="sys_user_select_table"></table>
        </div>
    </div>
</div>
<div class="modal-footer ng-scope">
    <div class="text-center">
    <button class="btn btn-default" ng-click="close()">取消</button>
        <button class="btn btn-success m-b-xs" ng-click="confirm('select')">确认</button>
     <!--<button class="btn btn-default m-b-xs" ng-click="confirm('none')">无上级</button>-->
        </div>
    </div>
</div>