<div ng-controller="apply_cancel_handler_controller">
    <div>
        <toaster-container
                toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    </div>
    <div class="panel panel-default">
        <div class="row" style="margin: 0; padding: 15px; border: 1px solid #dddddd">
            <h4 class="m-n font-thin h4">{{frameTitle}}</h4>
        </div>
        <form name="form" class="form-validation" novalidate>
            <div class="panel-body wrapper-sm">



                <div class="form-group row">
                    <label class="col-sm-3 control-label text-right"><b class="form-text-black">订单编号</b><b
                            class="form-error" >*</b>:</label>
                    <!-- 项目可编辑 -->
                    <div class="col-sm-3" >
                        <input title="{{applyCancel.applyNo}}" type="text" name="applyNo" placeholder="请输入订单编号" class="form-control m-b-xs"
                               ng-model="applyCancel.applyNo" required disabled>
                        <p>
                            <span class="form-info"
                                  ng-show=" (form.applyNo.$dirty && form.applyNo.$error.required) || (form.applyNo.$error.required && formValidate)">订单编号不能为空</span>
                        </p>
                    </div>
                </div>




                <div class="form-group row">
                    <label class="col-sm-3 control-label text-right"><b class="form-text-black">申请姓名</b><b
                            class="form-error">*</b>:</label>
                    <!-- 项目可编辑 -->
                    <div class="col-sm-3" >
                        <input type="text" name="name" placeholder="请输入申请姓名" class="form-control m-b-xs"
                               ng-model="applyCancel.name" required disabled>
                        <p>
                            <span class="form-info"
                                  ng-show=" (form.name.$dirty && form.name.$error.required) || (form.name.$error.required && formValidate)">申请姓名不能为空</span>
                        </p>
                    </div>
                </div>
                




                 <div class="form-group row">
                     <label class="col-sm-3 control-label text-right"><b class="form-text-black">当前订单状态</b><b
                             class="form-error">*</b>:</label>
                     <!-- 项目可编辑 -->
                     <div class="col-sm-3">
                         <input type="text" name="bizStatus" placeholder="请输入当前订单状态" class="form-control m-b-xs"
                                ng-model="applyCancel.bizStatusName" required disabled>
                         <p>
                             <span class="form-info"
                                   ng-show=" (form.bizStatus.$dirty && form.bizStatus.$error.required) || (form.bizStatus.$error.required && formValidate)">当前订单状态不能为空</span>
                         </p>
                     </div>
                 </div>





                <div class="form-group row" >
                    <label class="col-sm-3 control-label text-right"><b class="form-text-black">取消原因</b><b
                            class="form-error" >*</b>:</label>
                    <!-- 项目可编辑 -->
                    <div class="col-sm-3" >
                        <select ng-model="cancelReason" name="cancelReason" class="form-control m-b-xs"  required>
                            <option value="">--请选择取消原因--</option>
                            <option value="{{cancelReasonObj.codeValue}}" ng-repeat="cancelReasonObj in cancelReasonList">{{cancelReasonObj.codeValueName}}</option>
                        </select>
                        <p>
                            <span class="form-info"
                                  ng-show=" (form.cancelReason.$dirty && form.cancelReason.$error.required) || (form.cancelReason.$error.required && formValidate)">取消原因不能为空</span>
                        </p>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 control-label text-right"><b class="form-text-black">取消备注</b><b
                            class="form-error">*</b>:</label>
                    <!-- 项目可编辑 -->
                    <div class="col-sm-3">
                        <textarea limit-word name="cancelRemark" type="text" placeholder="取消备注" name="memo" class="form-control m-b-xs" ng-model="applyCancel.cancelRemark" required></textarea>
                        <p>
                             <span class="form-info"
                                   ng-show=" (form.cancelRemark.$dirty && form.cancelRemark.$error.required) || (form.cancelRemark.$error.required && formValidate)">取消备注不能为空</span>
                        </p>
                    </div>
                </div>
            </div>


            <div class="modal-footer ng-scope text-center">
                <button class="btn btn-default" ng-click="goback()">返回</button>
                <button type="submit" class="btn btn-success" ng-show="showUpdate" ng-disabled="submit"
                        ng-click="modify()">确定取消
                </button>
            </div>
        </form>
    </div>
</div>