<div class="modal-header">
    <h4 class="modal-title">添加prebiz <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button></h4>
</div>
<div class="modal-body">
    <form name="form" class="form-validation" novalidate>

        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">applyNo</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="applyNo" placeholder="请输入applyNo" class="form-control m-b-xs" ng-model="cstmPersMate.applyNo"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.applyNo.$dirty && form.applyNo.$error.required) || (form.applyNo.$error.required && formValidate)">applyNo不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">name</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="name" placeholder="请输入name" class="form-control m-b-xs" ng-model="cstmPersMate.name"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.name.$dirty && form.name.$error.required) || (form.name.$error.required && formValidate)">name不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">certifType</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="certifType" placeholder="请输入certifType" class="form-control m-b-xs" ng-model="cstmPersMate.certifType"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.certifType.$dirty && form.certifType.$error.required) || (form.certifType.$error.required && formValidate)">certifType不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">certifNo</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="certifNo" placeholder="请输入certifNo" class="form-control m-b-xs" ng-model="cstmPersMate.certifNo"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.certifNo.$dirty && form.certifNo.$error.required) || (form.certifNo.$error.required && formValidate)">certifNo不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">mobileNo</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="mobileNo" placeholder="请输入mobileNo" class="form-control m-b-xs" ng-model="cstmPersMate.mobileNo"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.mobileNo.$dirty && form.mobileNo.$error.required) || (form.mobileNo.$error.required && formValidate)">mobileNo不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">compName</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="compName" placeholder="请输入compName" class="form-control m-b-xs" ng-model="cstmPersMate.compName"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.compName.$dirty && form.compName.$error.required) || (form.compName.$error.required && formValidate)">compName不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">compTel</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="compTel" placeholder="请输入compTel" class="form-control m-b-xs" ng-model="cstmPersMate.compTel"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.compTel.$dirty && form.compTel.$error.required) || (form.compTel.$error.required && formValidate)">compTel不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">position</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="position" placeholder="请输入position" class="form-control m-b-xs" ng-model="cstmPersMate.position"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.position.$dirty && form.position.$error.required) || (form.position.$error.required && formValidate)">position不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">salary</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="salary" placeholder="请输入salary" class="form-control m-b-xs" ng-model="cstmPersMate.salary"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.salary.$dirty && form.salary.$error.required) || (form.salary.$error.required && formValidate)">salary不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">compProv</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="compProv" placeholder="请输入compProv" class="form-control m-b-xs" ng-model="cstmPersMate.compProv"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.compProv.$dirty && form.compProv.$error.required) || (form.compProv.$error.required && formValidate)">compProv不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">compCity</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="compCity" placeholder="请输入compCity" class="form-control m-b-xs" ng-model="cstmPersMate.compCity"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.compCity.$dirty && form.compCity.$error.required) || (form.compCity.$error.required && formValidate)">compCity不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">compCounty</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="compCounty" placeholder="请输入compCounty" class="form-control m-b-xs" ng-model="cstmPersMate.compCounty"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.compCounty.$dirty && form.compCounty.$error.required) || (form.compCounty.$error.required && formValidate)">compCounty不能为空</span>
                    </p>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label text-right"><b class="form-text-black">compAddr</b><b class="form-error">*</b>:</label>
                <div class="col-sm-9">
                    <input type="text" name="compAddr" placeholder="请输入compAddr" class="form-control m-b-xs" ng-model="cstmPersMate.compAddr"  required >
                    <p>
                        <span class="form-info" ng-show=" (form.compAddr.$dirty && form.compAddr.$error.required) || (form.compAddr.$error.required && formValidate)">compAddr不能为空</span>
                    </p>
                </div>
            </div>


        </div>

    </form>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-default" ng-click="close()">取消</button>
    <button type="submit" class="btn btn-success" ng-disabled="submit" ng-click="save()">新增</button>
</div>