<div  ng-controller="deposit_finance_receipt_controller">
    <div>
        <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    </div>
    <div class="panel panel-default">
        <div class="row" style="margin: 0; padding: 10px; border: 1px solid #dddddd">
            <div class="form-inline">
                <div class="form-group">
                    <h5 >财务确认收款</h5>
                </div>
                <div class="form-group pull-right">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success btn-sm fms-button-margin-bottom" ng-disabled="submit" ng-click="save()">提交</button>
                        <button type="submit" class="btn btn-success btn-sm fms-button-margin-bottom" ng-disabled="submit" ng-click="sendBack()">退回</button>
                        <button class="btn btn-default btn-sm fms-button-margin-bottom" ng-click="goback()">返回</button>
                    </div>
                </div>
            </div>
        </div>
        <ul type="none" style="padding-left: 20px;">
            <div class="row line-lg" style="font-weight: bold;font-size: 14px;">变更前信息</div>
            <div class="row" style="margin: 5px; padding-right: 50px;">
                <div class="row">

                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">承租人:</b></label>
                    <div class="col-sm-2">
                        <label class="col-sm-12 control-label text-left"> {{baseData.lessee}}</label>
                    </div>
                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">出租人:</b></label>
                    <div class="col-sm-2">
                        <label class="col-sm-12 control-label text-left"> {{baseData.lessor}}</label>
                    </div>
                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">车架号:</b></label>
                    <div class="col-sm-2">
                        <label class="col-sm-12 control-label text-left"> {{baseData.vinNo}}</label>
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">合同编号:</b></label>
                    <div class="col-sm-2">
                        <label class="col-sm-12 control-label text-left"> {{baseData.contNo}}</label>
                    </div>
                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">融资额:</b></label>
                    <div class="col-sm-2">
                        <label class="col-sm-12 control-label text-left"> {{baseData.finTotal}}</label>
                    </div>
                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">融资期限:</b></label>
                    <div class="col-sm-2">
                        <label class="col-sm-12 control-label text-left"> {{baseData.finPeriodType}}</label>
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">已还金额:</b></label>
                    <div class="col-sm-2">
                        <label class="col-sm-12 control-label text-left"> {{baseData.alreadyRepayAmount}}</label>
                    </div>
                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">已还期数:</b></label>
                    <div class="col-sm-2">
                        <label class="col-sm-12 control-label text-left"> {{baseData.alreadyRepayNper}}</label>
                    </div>
                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">剩余租金:</b></label>
                    <div class="col-sm-2">
                        <label class="col-sm-12 control-label text-left"> {{baseData.residueAmount}}</label>
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">保证金:</b></label>
                    <div class="col-sm-2">
                        <label class="col-sm-12 control-label text-left"> {{baseData.deposit}}</label>
                    </div>

                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">逾期详情:</b></label>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-sm btn-success" ng-click="overdue()">逾期详情</button>
                    </div>
                </div>
            </div>


            <div class="row line-lg" style="font-weight: bold;font-size: 14px;">变更后信息</div>
            <div class="row" style="margin: 5px; padding-right: 50px;">
                <div class="row">
                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">补充保证金:</b></label>
                    <div class="col-sm-2">
                        <label class="col-sm-12 control-label text-left"> {{baseData.supplementDeposit}}</label>
                    </div>
                </div>
            </div>
        </ul>
        <form name="form" class="form-validation" novalidate>
            <div class="panel-body">
                <div style="padding: 0 20px;">
                    <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <table border="1" class="table table-striped m-b-none dataTable no-footer" width="100%">
                            <thead>
                            <tr>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">收款银行分行</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">收款户名</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">收款账号</th>
                                <!--<th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">联行号</th>-->
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">实收金额(元)</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">到帐日期</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">备注</th>
                                <th class="sorting_disabled center" rowspan="1" colspan="1" style="width: 0px;">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-show="depositFinanceVoList.length == 0">
                                <td colspan="8" class="dataTables_empty"><a class="a1" ng-click="add()">点击添加</a></td>
                            </tr>
                            <tr click-tr ng-show="depositFinanceVoList.length != 0" ng-repeat="a in depositFinanceVoList track by $index">
                                <!--<td>
                                    <input type="text" name="recAccBank_{{$index}}" placeholder="收款银行" class="form-control m-b-xs" ng-model="a.recAccBank" disabled required>
                                    <p>
                                        <span class="form-info" ng-show=" (form.recAccBank_{{$index}}.$dirty && form.recAccBank_{{$index}}.$error.required) || (form.recAccBank_{{$index}}.$error.required && formValidate)">收款银行不能为空</span>
                                    </p>
                                </td>-->
                                <td>
                                    <input type="text" title="{{a.recAccBranch}}" name="recAccBranch_{{$index}}" placeholder="收款银行分行" class="form-control m-b-xs" ng-model="a.recAccBranch" disabled required>
                                    <p>
                                        <span class="form-info" ng-show=" (form.recAccBranch_{{$index}}.$dirty && form.recAccBranch_{{$index}}.$error.required) || (form.recAccBranch_{{$index}}.$error.required && formValidate)">收款银行分行不能为空</span>
                                    </p>
                                </td>
                                <td>
                                    <input type="text" name="recAccountName_{{$index}}" placeholder="收款户名" class="form-control m-b-xs" title="{{a.recAccountName}}" ng-model="a.recAccountName" disabled required>
                                    <p>
                                        <span class="form-info" ng-show=" (form.recAccountName_{{$index}}.$dirty && form.recAccountName_{{$index}}.$error.required) || (form.recAccountName_{{$index}}.$error.required && formValidate)">收款户名不能为空</span>
                                    </p>
                                </td>
                                <td>
                                    <input type="text" name="recAccountNo_{{$index}}" placeholder="收款账号" class="form-control m-b-xs" title="{{a.recAccountNo}}" ng-model="a.recAccountNo" disabled required>
                                    <p>
                                        <span class="form-info" ng-show=" (form.recAccountNo_{{$index}}.$dirty && form.recAccountNo_{{$index}}.$error.required) || (form.recAccountNo_{{$index}}.$error.required && formValidate)">收款账号不能为空</span>
                                    </p>
                                </td>
                                <!--<td>-->
                                <!--<input type="text" name="recEleBankNo_{{$index}}" placeholder="联行号" class="form-control m-b-xs" title="{{a.recEleBankNo}}" ng-model="a.recEleBankNo" disabled required>-->
                                <!--<p>-->
                                <!--<span class="form-info" ng-show=" (form.recEleBankNo_{{$index}}.$dirty && form.recEleBankNo_{{$index}}.$error.required) || (form.recEleBankNo_{{$index}}.$error.required && formValidate)">联行号不能为空</span>-->
                                <!--</p>-->
                                <!--</td>-->
                                <td>
                                    <input type="number" limit-number name="receiptAmount_{{$index}}" placeholder="实收金额" class="form-control m-b-xs" title="{{a.receiptAmount}}" ng-model="a.receiptAmount" required>
                                    <p>
                                        <span class="form-info" ng-show=" (form.receiptAmount_{{$index}}.$dirty && form.receiptAmount_{{$index}}.$error.required) || (form.receiptAmount_{{$index}}.$error.required && formValidate)">实收金额不能为空</span>
                                    </p>
                                </td>
                                <td>
                                    <input type="text" name="receiptDate_{{$index}}" placeholder="到帐日期" class="form-control m-b-xs" ng-model="a.receiptDate" onfocus="WdatePicker({onpicked: function(){$(this).trigger('change')},dateFmt:'yyyy-MM-dd',skin:'twoer'})"  required>
                                    <p>
                                        <span class="form-info" ng-show=" (form.receiptDate_{{$index}}.$dirty && form.receiptDate_{{$index}}.$error.required) || (form.receiptDate_{{$index}}.$error.required && formValidate)">到帐日期不能为空</span>
                                    </p>
                                </td>
                                <td>
                                    <input type="text" maxlength="200" name="memo_{{$index}}" placeholder="备注" class="form-control m-b-xs" title="{{a.memo}}" ng-model="a.memo">
                                </td>
                                <td>
                                    <a class="a1" ng-click="selectBasBankInfo($index)">选择收款银行</a>
                                    <a class="a1" ng-click="del($index)">删除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel-body">
                    <label class="col-sm-2 control-label text-right"><b class="form-text-black">备注</b><b class="form-error">*</b>:</label>
                    <div class="col-sm-10">
                        <textarea placeholder="请输入备注" class="form-control m-b-xs r-none" limit-word cols="100" rows="5" maxlength="200" name="remark" ng-model="depositFinance.remark" required></textarea>
                        <p>
                            <span class="form-info" ng-show=" (form.remark.$dirty && form.remark.$error.required) || (form.remark.$error.required && formValidate)">请输入备注</span>
                        </p>
                    </div>
                </div>
            </div>
        </form>
        <process-log-list-directive wf-log-type="wfLogType" wf-log-no="wfLogNo"></process-log-list-directive>
        <!--<div ng-include="'tpl/common/process_log/process_log_list.html'"></div>-->
    </div>
</div>